<%
   query = Vendor.all

   # status
   unless params[:status].nil? || params[:status].empty?
     query = query.where(status: params[:status])
   end

   # hosting
   unless params[:hosting].nil?
     if params[:hosting].include? 'public'
       query = query.where('hosting.public' => true)
     end
     if params[:hosting].include? 'private'
       query = query.where('hosting.private' => true)
     end
   end

   # pricing
   unless params[:pricing].nil? || params[:pricing].empty?
     query = query.where('pricing.model' => params[:pricing])
   end

   # scaling
   unless params[:scaling].nil?
     if params[:scaling].include? 'vertical'
       query = query.where('scaling.vertical' => true)
     end
     if params[:scaling].include? 'horizontal'
       query = query.where('scaling.horizontal' => true)
     end
     if params[:scaling].include? 'auto'
       query = query.where('scaling.auto' => true)
     end
   end

   # runtimes
   unless params[:runtimes].nil?
     query = query.all('runtimes.language' => params[:runtimes])
   end

   # middleware
   unless params[:middleware].nil?
     query = query.all('middleware.name' => params[:middleware])
   end

   # frameworks
   unless params[:frameworks].nil?
     query = query.all('frameworks.name' => params[:frameworks])
   end

   # services
   unless params[:services].nil?
     query = query.all('services.native.name' => params[:services])
   end

   # addons
   unless params[:addons].nil?
     query = query.all('services.addon.name' => params[:addons])
   end

   # extensible
   unless params[:extensible].nil?
     query = query.where(extensible: true)
   end

   # infras
   unless params[:infras].nil?
     # private paas can be deployed everywhere
     if params[:hosting].nil?
       query = query.or({'infrastructures.continent' => {'$all' => params[:infras]}}, {'hosting.private' => true})
       # if hosting = public match infras
     elsif params[:hosting].length == 1 && params[:hosting].include?('public')
       query = query.all('infrastructures.continent' => params[:infras])
     end
     # ignore infras if hosting == private
   end

   unless query.exists?

%>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      We're sorry, but we could not find any PaaS that matches your requirements!
    </div>
<% else %>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th class="hidden-phone">Status</th>
        <th class="hidden-phone">Runtimes</th>
        <th class="hidden-phone">Scaling</th>
        <th class="hidden-phone">Hosting</th>
        <th class="hidden-phone">Infrastructures</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%
         query.sort { |x, y| x.name.downcase <=> y.name.downcase }.each do |profile|
      %>
          <tr>
            <td>
              <a href="/vendor/<%= url_encode(profile['name']) %>"><%= profile['name'] %></a>
              <% unless profile['vendor_verified'].nil? %>
                  &nbsp;<i class="fa fa-check-circle" title="Verified by Vendor"></i>
              <% end %>
            </td>
            <td class="hidden-phone">
              <% if profile['status'].eql? 'beta' %>
                  <span class="label label-warning">Beta</span>
              <% elsif profile['status'].eql? 'alpha' %>
                  <span class="label label-important">Alpha</span>
              <% else %>
                  <span class="label label-success">Production</span>
              <% end %>
            </td>

            <td class="hidden-phone">
              <div class="row-fluid">
                <%
                   profile['runtimes'].sort { |a, b| a['language'] <=> b['language'] }.each do |rt|
                %>
                    <span class="label label-info"><%= rt['language'] %></span>
                <%
                   end

                   if profile['extensible']
                %>
                    <span class="label label-success">extensible</span>
                <% end %>
              </div>
            </td>

            <td class="hidden-phone">
              <% if profile['scaling']['vertical'] %>
                  <i class="fa fa-arrows-v" title="vertical"></i>
              <% end %>
              <% if profile['scaling']['horizontal'] %>
                  <i class="fa fa-arrows-h" title="horizontal"></i>
              <% end %>
              <% if profile['scaling']['auto'] %>
                  <i class="fa fa-refresh" title="auto"></i>
              <% end %>
            </td>

            <td class="hidden-phone">
              <% if profile['hosting']['public'] %>
                  <i class="fa fa-eye" title="public"></i>
              <% end
                 if profile['hosting']['private']
              %>
                  <i class="fa fa-lock" title="private"></i>
              <% end %>
            </td>

            <td class="hidden-phone">
              <div class="row-fluid">
                <%
                   unless profile['infrastructures'].nil?
                     profile['infrastructures'].uniq { |h| h['continent'] }.sort { |a, b| a['continent'] <=> b['continent'] }.each do |rt|

                       title = continent_by_code rt['continent']
                %>
                        <span class="label label-inverse" title="<%= title %>"><%= rt['continent'] %></span>
                    <%
                       end
                       end
                    %>
              </div>
            </td>

            <td>
              <a href="/vendor/<%= url_encode(profile['name']) %>" class="btn btn-success btn-small">Details</a>
            </td>
          </tr>
          </tbody>
      <%
         end
      %>
      </table>
    <div>
      <small><em>Showing <%= query.length %> out of <%= Vendor.count %> vendors.</em></small>
      <a href="#top" title="Back to top" class="pull-right i-link"><i class="fa fa-chevron-up"></i></a>
    </div>
<% end %>