<script src="/js/jquery.tablesorter.min.js"></script>
<script src="/js/jquery.tablesorter.widgets.min.js"></script>
<link rel="stylesheet" href="/css/theme.bootstrap.css">

<div class="header" style="height: calc(100vh - 40px)">

    <div class="jumbotron" style="
            background: url(img/header.jpg) no-repeat fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100%;
            min-height: 200px;
            height: 100%;
            overflow: hidden;">
      <h1 style="padding-top: 8%">Find your Platform as a Service!</h1>

      <p class="lead">What's best on your PaaS? Define your needs and get a list of candidates that claim to be your best
        fit.</p>

      <div class="text-center"><a href="filter" class="btn btn-warning btn-large">Find your PaaS</a></div>
    </div>

  <div style="position: absolute;
          bottom: 0px; background-color: #fff; width: 100%;
          padding: 35px;
          padding-bottom: 15px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;">
  <div class="row-fluid text-center" style="margin-bottom: 20px">

    <div class="span4">
      <h2>Comprehensive</h2>
      <h4><em>More than 70 vendors</em></h4>

      <p>&hellip;and counting.</p>
    </div>
    <div class="span4">
      <h2>Comparable</h2>
      <h4><em>Distinctive PaaS features</em></h4>

      <p>A set of distinctive and intersecting properties to enable comparison and matching of different PaaS
        offerings.</p>
    </div>
    <div class="span4">
      <h2>Current</h2>
      <h4><em>Continuously updated</em></h4>

      <p>Data structures are <a href="https://github.com/stefan-kolb/paas-profiles" target="_blank">publicly available</a>
        and editable by the community. We also aim at vendors to
        <a href="https://github.com/stefan-kolb/paas-profiles#contribution" target="_blank">verify</a>
        <i class="fa fa-check-circle"></i> their profiles.</p>
    </div>

  </div>

  <div class="text-center"><span class="fa fa-chevron-down fa-2x" style="color: #eeeeee"></span></div>

  </div>

</div>

<div id="top" class="container" style="margin-top: 10px; padding-bottom: 30px;">

<div class="row hidden-phone" style="margin-bottom: 10px;">
  <div class="span12">
    <ul class="thumbnails" style="height: 120px;">
      <li class="span12">
        <div class="thumbnail">
          <img src="img/paasyard.png" style="float:left; margin-right: 15px; padding: 5px;">

          <h3>PaaSyard</h3>

          <p><i>Docker powered (mini) deployment system for PaaS.</i></p>

          <p><a href="https://github.com/stefan-kolb/paasyard" class="btn btn-primary">Deploy now!</a></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row hidden-phone" style="margin-bottom: 10px;">
  <div class="span12">
    <ul class="thumbnails" style="height: 120px;">
      <li class="span12">
        <div class="thumbnail">
          <img src="img/filter.png" style="float:left; margin-right: 15px; padding: 5px;">

          <h3>Find your PaaS</h3>

          <p><i>Detailed filtering by every available PaaS attribute and combinations thereof.</i></p>

          <p><a href="/filter" class="btn btn-primary">Cloud Broker</a></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row hidden-phone" style="margin-bottom: 10px;">
  <div class="span12">
    <ul class="thumbnails" style="height: 120px;">
      <li class="span12">
        <div class="thumbnail">
          <img src="img/1on1-teaser.png" style="float:left; margin-right: 15px; padding: 5px;">

          <h3>1on1 Comparison</h3>

          <p><i>Side-by-side visual matchup between PaaS offerings.</i></p>

          <p><a href="/compare" class="btn btn-primary">Let's 1on1!</a></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row hidden-phone" style="margin-bottom: 10px;">
  <div class="span12">
    <ul class="thumbnails" style="height: 120px;">
      <li class="span12">
        <div class="thumbnail">
          <img src="img/infras-teaser.png" style="float:left; margin-right: 15px; padding: 5px;">

          <h3>PaaS Market Statistics<sup><span class="badge badge-warning">&beta;eta</span></sup></h3>

          <p><i>Live statistics of the PaaS vendor landscape.</i></p>

          <p><a href="/statistics/languages" class="btn btn-primary">Runtime Statistics</a>
            <a href="/statistics/infrastructures" class="btn">Infrastructure Statistics</a></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row hidden-phone" style="margin-bottom: 50px">
  <div class="span12">
    <ul class="thumbnails" style="height: 120px;">
      <li class="span12">
        <div class="thumbnail">
          <img src="img/paper-teaser.png" style="float:left; margin-right: 15px; padding: 5px;">

          <h3>Publications</h3>

          <p><i>Scientific deliverables discussing the work around PaaSify.</i></p>

          <p>
            <span><a href="http://www.uni-bamberg.de/?id=94841" target="_blank"><i>Application Migration Effort in the
              Cloud - The Case of Cloud Platforms</i></a><small> &mdash; 8th IEEE Conference on Cloud Computing, 2015
              (to appear).
            </small></span><br>
            <span><a href="http://www.uni-bamberg.de/?id=85921" target="_blank"><i>Towards Application Portability in
              Platform as a Service</i></a><small> &mdash; 8th IEEE Symposium on Service-Oriented System Engineering,
              2014.
            </small></span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table id="vendors" class="table table-bordered table-hover tablesorter">
      <thead>
      <tr>
        <th title="Order by Name">Name</th>
        <th data-sorter="false" class="hidden-phone">Status</th>
        <th data-sorter="false" class="hidden-phone">Runtimes</th>
        <th data-sorter="false" class="hidden-phone">Scaling</th>
        <th data-sorter="false" class="hidden-phone">Hosting</th>
        <th data-sorter="false" class="hidden-phone">Infrastructures</th>
        <th data-sorter="false">
          <a class="hidden-phone text-center" href="/vendors.rss" target="_blank">
            <img src="<%= url('/img/rss.png') %>" alt="rss" style="width: 18px;">
          </a>
        </th>
      </tr>
      </thead>
      <tbody>
      <%
         Profiles::Vendor.all.shuffle.each do |profile|
      %>
          <tr>
            <td>
              <a href="<%= url("/vendors/#{url_encode(profile['name'])}") %>"><%= profile['name'] %></a>
              <% unless profile['vendor_verified'].blank? %>
                  &nbsp;<i class="fa fa-check-circle"></i>
              <% end %>
            </td>
            <td class="hidden-phone">
              <% if profile['status'] == 'beta' %>
                  <span class="label label-warning">Beta</span>
              <% elsif profile['status'] == 'alpha' %>
                  <span class="label label-important">Alpha</span>
              <% else %>
                  <span class="label label-success">Production</span>
              <% end %>
            </td>

            <td class="hidden-phone">
              <div class="row-fluid">
                <% profile['runtimes'].sort { |a, b| a['language'] <=> b['language'] }.each do |rt| %>
                    <span class="label label-info"><%= rt['language'] %></span>
                <% end %>
                <% if profile['extensible'] %>
                    <span class="label label-success">extensible</span>
                <% end %>
              </div>
            </td>

            <td class="hidden-phone">
              <% if profile['scaling']['vertical'] %>
                  <i class="fa fa-arrows-v" title="vertical"></i>
              <% end %>
              <% if profile['scaling']['horizontal'] %>
                  <i class="fa fa-arrows-h" title="horizontal"></i>
              <% end %>
              <% if profile['scaling']['auto'] %>
                  <i class="fa fa-refresh" title="auto"></i>
              <% end %>
            </td>

            <td class="hidden-phone">
              <% if profile['hosting']['public'] %>
                  <i class="fa fa-eye" title="public"></i>
              <% end %>
              <% if profile['hosting']['private'] %>
                  <i class="fa fa-lock" title="private"></i>
              <% end %>
            </td>

            <td class="hidden-phone">
              <div class="row-fluid">
                <%
                   unless profile['infrastructures'].nil?
                     profile['infrastructures'].uniq { |h| h['continent'] }.sort { |a, b| a['continent'] <=> b['continent'] }.each do |rt|
                %>
                        <span class="label label-inverse" title="<%= continent_by_code rt['continent'] %>"><%= rt['continent'] %></span>
                    <% end
                       end
                    %>
              </div>
            </td>

            <td>
              <a href="<%= url("/vendors/#{url_encode(profile['name'])}") %>" class="btn btn-success btn-small">Details</a>
            </td>
          </tr>
      <%
         end
      %>
      </tbody>
    </table>
    <a href="#top" title="Back to top" class="i-link pull-right"><i class="fa fa-chevron-up"></i></a>
  </div>
</div>

</div>
</div>
</div>

<script>
    $(document).ready(function () {
        $("#vendors").tablesorter({
            theme: 'bootstrap',
            headerTemplate: '{icon}{content}',
            widgets: ['uitheme']
        });
    });
</script>
