<link href="<%= url('/css/jquery-jvectormap-1.2.2.css') %>" rel="stylesheet">

<div class="container">
<div class="row">
  <div class="span12">
    <h1>
    <% if File.exist?(settings.public_folder << '/img/vendor/' << @profile['name'].downcase.gsub(/[^a-z0-9]/, '_') << '.png') %>
    <img src="<%= url('/img/vendor/' << @profile['name'].downcase.gsub(/[^a-z0-9]/, '_') << '.png') %>" class="img-rounded" style="margin-bottom: 8px">
    <% end %>
    <a href="<%= @profile['url'] %>" target="_blank"><%= @profile['name'] %></a>
    <% unless @profile['vendor_verified'].nil? %>
    <i style="vertical-align: super; font-size: 14px" class="fa fa-check-circle" title="Verified by Vendor on <%= @profile['vendor_verified'].to_date %>"></i>
    <% end %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="span2">
    <a href="<%= @profile["url"] %>" target="_blank" class="btn btn-inverse btn-mini">Visit Vendor Page</a>
  </div>

  <div class="span6 text-center">
    <div class="row">
      <div class="span2">
        <i class="fa fa-tags tip" title="PaaS type"></i>
        <small><strong>&nbsp;<%= @profile["type"] %></strong></small>
      </div>
      <% unless @profile["platform"].blank? %>
      <div class="span2">
        <i class="fa fa-institution tip" title="Platform"></i>
        <small><strong>&nbsp;<a href="/vendors/<%= url_encode(@profile["platform"]) %>"><%= @profile["platform"] %></a></strong></small>
      </div>
      <% end %>
      <% unless @profile["isolation"].blank? %>
      <div class="span2">
        <i class="fa fa-gears tip" title="Isolation"></i>
        <small><strong>&nbsp;<%= @profile["isolation"] %></strong></small>
      </div>
      <% end %>
      <% unless @profile["dev_model"].blank? %>
      <div class="span2">
        <i class="fa fa-linux tip" title="Development Model"></i>
        <small><strong>&nbsp;<%= @profile["dev_model"].titleize %></strong></small>
      </div>
      <% end %>
    </div>
  </div>
  <div class="span3 text-center">
    <small>
      <em>Last updated <span class="date" title="<%= @profile['revision'].to_datetime %>"></span> ago.</em>
    </small>
  </div>
  <div class="span1">
    <p class="pull-right">
      <a href="https://github.com/stefan-kolb/paas-profiles#contribution" title="Report error" class="tip"><i class="fa fa-bug fa-lg"></i></a>
    </p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="span12"><h3>Facts</h3></div>
  <div class="span12">
    <p>
      <%= @profile["name"] %> is available as
      <% if @profile['hosting']['public'] %>
          public <i class="fa fa-eye" title="public"></i>
      <% end %>
      <% if @profile['hosting']['public'] && @profile['hosting']['private'] %>
          and as
      <% end
         if @profile['hosting']['private']
      %>
          private <i class="fa fa-lock" title="private"></i>
      <% end %>
      Platform-as-a-Service.
    </p>

    <p>You can deploy apps written in
      <span class="label label-inverse"><%= @profile["runtimes"].uniq { |h| h["language"] }.size %></span> languages to
      <% if @profile['hosting']['public'] %>
      <span class="label label-inverse"><%= @profile["infrastructures"].nil? ? 0 : @profile["infrastructures"].size %></span>
      different infrastructures.
      <% else %>
      your private infrastructure of choice.
      <% end %>
    </p>

    <% unless @profile["services"].nil? %>
        <p>You can automatically bind
          <span class="label label-inverse"><%= @profile["services"]["native"] ? @profile["services"]["native"].size : 0 %></span> services and
          <span class="label label-inverse"><%= @profile["services"]["addon"] ? @profile["services"]["addon"].size :  0 %></span> integrated addons to your
          applications.</p>
    <% end %>
    <% unless @profile["scaling"]["vertical"] == false && @profile["scaling"]["horizontal"] ==false && @profile["scaling"]["auto"] == false %>
        <p>You can scale your applications
          <% if @profile["scaling"]["vertical"] %>
              vertically <i class="fa fa-arrows-v" title="vertical"></i>,
          <% end %>
          <% if @profile["scaling"]["horizontal"] %>
              horizontally <i class="fa fa-arrows-h" title="horizontal"></i>
          <% end %>
          <% if @profile["scaling"]["auto"] %>
              or let <%= @profile["name"] %> automatically <i class="fa fa-refresh" title="auto"></i> scale your
              instances
          <% end %>.</p>
    <% end %>

    <p>
      <% unless @profile['pricing'].blank? %>
          Usage and pricing options available are
          <% @profile['pricing'].each_with_index do |p, i|
            if i > 0 %>
                  or
              <% end %>
              <i class="fa fa-money" title="pricing"></i>
              &nbsp;<%= p['model'] << ' usage' %><%= ', ' << p['period'] << ' bills' unless p['period'].blank? %><% end %>.
      <% end %>
    </p>

  </div>
</div>

<hr/>
<div class="row">
  <div class="span12"><h3>Quality of Service</h3></div>
  <div class="span12">
    <p>
    <%= @profile["name"] %> is in
    <% if @profile["status"] == "beta" %>
        <span class="label label-warning">Beta</span>
    <% elsif @profile["status"] == "alpha" %>
        <span class="label label-important">Alpha</span>
    <% else %>
        <span class="label label-success">Production</span>
    <% end %>
    <% unless @profile["status_since"].nil? %>
        since <span class="date" title="<%= @profile["status_since"].to_date %>"></span><% end %>.
    </p>
    <% if @profile.hosting.public %>
    <p>Stipulated Uptime: <% if @profile["qos"].blank? || @profile["qos"]["uptime"].blank? %>
      <span class="label label-important">No guarantees</span>
      <% else %>
      <span class="label label-inverse"><%= @profile["qos"]["uptime"] %> %</span>
      <% end %>
    </p>
    <% end %>
    <p>
      <% unless @profile["qos"].blank? || @profile["qos"]["compliance"].blank? %>
          <%= @profile["name"] + " is <em>" + @profile["qos"]["compliance"].join(", ").upcase + " </em> certified" %>
          <i class="fa fa-certificate" title="compliance"></i>.
      <% end %>
    </p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="span12"><h3>Runtimes</h3></div>
  <div class="span12">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Language</th>
        <th>Versions</th>
      </tr>
      </thead>
      <tbody>
      <% @profile["runtimes"].sort { |a, b| a["language"] <=> b["language"] }.each do |rt| %>
          <tr>
            <td>
              <%= rt["language"].capitalize %>
            </td>
            <% rt["versions"].each do |v|
                 v.gsub!(/\*\.\*/, 'All versions')
               end unless rt['versions'].blank?
            %>
            <td>
              <em><%= rt["versions"].join(", ") unless rt['versions'].blank? %></em>
              <% if rt['versions'].blank? %>
                  <span class="status grey pull-right" title="No version information"></span>
              <% elsif rt['versions'].any? { |v| Profiles::Version.new(v, rt['language']).latest? } %>
                  <span class="status green pull-right" title="Up-to-date"></span>
              <% else %>
                  <span class="status yellow pull-right" title="Latest version: <%= Profiles::Version.latest(rt['language']) %>"></span>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% if @profile["extensible"] %>
        <%= @profile["name"] %> is <span class="label label-success">extensible</span>, so you can add more
        functionality via buildpacks or similar mechanisms.
    <% end %>
  </div>
</div>

<%
   unless @profile["middleware"].nil? || @profile["middleware"].empty?
%>
    <hr/>
    <div class="row">
      <div class="span12"><h3>Middleware</h3></div>
      <div class="span12">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Runtime</th>
            <th>Versions</th>
          </tr>
          </thead>
          <tbody>
          <%
             @profile["middleware"].sort_by { |a| [a["name"], a["runtime"]] }.each do |rt|
          %>
              <tr>
                <td>
                  <%= rt["name"].capitalize %>
                </td>
                <td>
                  <%= rt["runtime"].capitalize unless rt["runtime"].blank? %>
                </td>
                <% rt["versions"].each do |v|
                  v.gsub! /\*\.\*/, 'All versions'
                end %>
                <td><em><%= rt["versions"].join(", ") %></em></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>

<%
   unless @profile["frameworks"].nil? || @profile["frameworks"].empty?
%>
    <hr/>
    <div id="frameworks" class="row">
      <div class="span12"><h3>Frameworks</h3></div>
      <div class="span12">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Runtime</th>
            <th>Versions</th>
          </tr>
          </thead>
          <tbody>
          <%
             @profile["frameworks"].sort_by { |a| [a["name"], a["runtime"]] }.each do |rt|
          %>
              <tr>
                <td>
                  <%= rt["name"].capitalize %>
                </td>
                <td>
                  <%= rt["runtime"].capitalize %>
                </td>
                <% rt["versions"].each do |v|
                  v.gsub! /\*\.\*/, 'All versions'
                end %>
                <td><em><%= rt["versions"].join(", ") %></em></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>

<%
   services = @profile["services"].nil?

   unless services
%>
    <hr/>
    <div id="services" class="row">
      <div class="span12"><h3>Services</h3></div>
      <div class="accordion span12" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <%
                 size = 0
                 unless @profile["services"]["native"].nil?
                   size = @profile["services"]["native"].size
                 end
              %>
              <h4 title="Operated by the PaaS vendor">Native (<%= size %>)</h4>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <%
                 unless @profile["services"]["native"].blank?
              %>
                  <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th class="hidden-phone">Description</th>
                      <th>Type</th>
                      <th>Versions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @profile["services"]["native"].sort { |a, b| a["name"] <=> b["name"] }.each do |rt| %>
                        <tr>
                          <td>
                            <%= rt["name"].split(" ").map(&:capitalize).join(" ") %>
                          </td>
                          <td class="hidden-phone"><em><%= rt["description"] %></em></td>
                          <td>
                            <% unless rt["type"].nil? %>
                                <em><%= rt["type"].upcase %></em>
                            <% end %>
                          </td>
                          <td><em><%= rt["versions"].join(", ") %></em></td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <%
                 size = 0
                 unless @profile["services"]["addon"].nil?
                   size = @profile["services"]["addon"].size
                 end
              %>
              <h4 title="Operated by a 3rd party vendor">Addons (<%= size %>)</h4>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <%
                 unless @profile["services"]["addon"].blank?
              %>
                  <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th class="hidden-phone">Description</th>
                      <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @profile["services"]["addon"].sort { |a, b| a["name"] <=> b["name"] }.each do |rt| %>
                        <%
                           begin
                             addon = Profiles::ServiceVendor.find_by(:key => rt['name'].downcase)
                           rescue Mongoid::Errors::DocumentNotFound
                             addon = rt
                           end
                        %>
                        <tr>
                          <td>
                            <% unless addon["url"].blank? %>
                                <a href="<%= addon["url"] %>" target="_blank">
                            <% end %>
                            <%= addon["name"] %>
                            </a>
                          </td>
                          <td class="hidden-phone"><em><%= addon["description"] %></em></td>
                          <td>
                            <% unless addon["type"].blank? %>
                                <em><%= addon["type"].upcase %></em>
                            <% end %>
                          </td>
                        </tr>
                  <% end
                     end
                  %>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="span12">
        <span class="muted" style="font-size: 70%">The billing of native services and add-ons may differ from the platform pricing model.</span>
        <a href="#services" title="Back to services" class="pull-right i-link"><i class="fa fa-chevron-up"></i></a>
      </div>
    </div>
<% end %>

<% unless @profile['infrastructures'].blank? %>
    <hr/>
    <div class="row">
      <div class="span12"><h3>Infrastructures</h3></div>
      <div class="span5" style="margin-bottom: 20px;">
        <% @profile['infrastructures'].sort { |a, b| a['continent'] <=> b['continent'] }.each do |rt| %>
            <div class="text-left">
              <span class="label label-inverse" title="<%= continent_by_code rt['continent'] %>"><%= rt['continent'] %></span>
			  <span>
              <%= country_by_code rt['country'] unless rt['country'].blank? %><% unless rt['region'].blank? %>, <em><%= rt['region'] %></em><% end %>
              </span>
              <% unless rt['provider'].blank? %>
              <span><small class="muted"><em>&mdash; provided by <%= rt['provider'] %></em></small></span>
              <% end %>
            </div>
        <% end %>
      </div>
      <div class="span7 thumbnail" id="map" style="width: 100%; max-width: 650px; height: 320px"></div>
    </div>
<% end %>

</div>

<script src="../js/jquery.prettydate.js"></script>
<script src="../js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../js/jquery-jvectormap-world-mill-en.js"></script>
<script>
    $(document).ready(function () {
        $(".date").prettyDate();

        $('#map').vectorMap({
            map: 'world_mill_en',
            backgroundColor: '#ffffff',
            regionStyle: {
                initial: {
                    fill: '#0088cc'
                },
                hover: {
                    'fill-opacity': 0.6
                },
                selected: {
                    fill: '#f89406'
                }
            },
            markerStyle: {
                initial: {
                    fill: '#ffffff',
                    stroke: '#000000'
                }
            },
            <% if !@profile['infrastructures'].nil? && @profile['infrastructures'].uniq { |h| h['continent'] }.size == 1 %>
            <%= "focusOn: '" << @profile['infrastructures'][0]['country'] << "'," %>
            <% end %>
            <%
                arr = []
                unless @profile['infrastructures'].blank?
                    @profile['infrastructures'].each do |i|
                        arr << i['country'] unless i['country'].blank?
                    end
                end
            %>
            <%= 'selectedRegions: ' << arr.to_s %>
        });

        <% unless @profile['infrastructures'].blank? %>
        // Geographic information
        $.getJSON('/api/vendors/<%=  url_encode(@profile['name']) %>/infrastructures').done(function(data) {
            var mapObject = $('#map').vectorMap('get', 'mapObject');
            mapObject.addMarkers(data, []);
        });

        $.ajax( {
            url: '//freegeoip.net/json/',
            type: 'POST',
            dataType: 'jsonp',
            success: function(location) {
                var mapObject = $('#map').vectorMap('get', 'mapObject');
                mapObject.addMarker('user', { latLng: [location.latitude, location.longitude], name: "Yeah, that's you!", style: { fill: 'red' } }, []);
            }
        } );
        <% end %>
    });
</script>