<link rel="stylesheet" href="<%= url('css/sprites/frameworks.css') %>">
<link rel="stylesheet" href="<%= url('css/sprites/languages.css') %>">
<link rel="stylesheet" href="<%= url('css/sprites/services.css') %>">
<link rel="stylesheet" href="<%= url('css/sprites/addons.css') %>">

<script>
    function selectorInStyleSheet(styleSheetName, selector) {
        /*
         * Get the index of 'styleSheetName' from the document.styleSheets object
         */
        for (var i = 0; i < document.styleSheets.length; i++) {
            var thisStyleSheet = document.styleSheets[i].href ? document.styleSheets[i].href.replace(/^.*[\\\/]/, '') : '';
            if (thisStyleSheet == styleSheetName) {
                var idx = i;
                break;
            }
        }
        if (!idx) return false; // We can't find the specified stylesheet

        /*
         * Check the stylesheet for the specified selector
         */
        var styleSheet = document.styleSheets[idx];
        var cssRules = styleSheet.rules ? styleSheet.rules : styleSheet.cssRules;
        for (var i = 0; i < cssRules.length; ++i) {
            if (cssRules[i].selectorText == selector) return true;
        }
        return false;
    }
</script>

<div class="container">
<div class="jumbotron">
  <img class="img-rounded" src="<%= url('/img/vendor/' << @p1['name'].downcase.gsub(/[^a-z0-9]/, '_') << '_big.png') %>" class="img-rounded" style="width: 150px; height: 150px; margin: 25px;">
  <i class="fa fa-bolt fa-5x" style="vertical-align: middle;font-size: 8em; margin: 25px;"></i>
  <img class="img-rounded" src="<%= url('/img/vendor/' << @p2['name'].downcase.gsub(/[^a-z0-9]/, '_') << '_big.png') %>" class="img-rounded" style="width: 150px; height: 150px; margin: 25px;">
</div>

<ul class="thumbnails">

<li id="p1" class="span6">
<div class="thumbnail" style="text-align:center; padding: 20px;">

<table class="table">
<tbody>
<tr>
  <% if File.exist?(settings.public_folder << '/img/vendor/' << @p1['name'].downcase.gsub(/[^a-z0-9]/, '_') << '.png') %>
      <img src="<%= url('/img/vendor/' << @p1['name'].downcase.gsub(/[^a-z0-9]/, '_') << '.png') %>" class="img-rounded" style="margin-bottom: 8px">
  <% end %>
  <h2>
    <a href="/vendor/<%= url_encode(@p1['name']) %>"><%= @p1['name'] %></a>
    <% unless @p1['vendor_verified'].nil? %>
        <i style="vertical-align: super; font-size: 14px" class="fa fa-check-circle" title="Verified by Vendor on <%= @p1['vendor_verified'].to_date %>"></i>
    <% end %>
  </h2>

  <div>
    <a href="/vendor/<%= url_encode(@p1['name']) %>" class="btn btn-inverse btn-mini">View details</a>
  </div>
  <p><br></p>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Deployment</small>
    </p>

    <div class="text-center">
      <% if @p1['hosting']['public'] %>
               <span class="fa-stack fa-lg tip" title="Public PaaS">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-eye fa-stack-1x"></i>
                </span>
      <% elsif @p1['hosting']['private'] %>
               <span class="fa-stack fa-lg tip" title="Private PaaS">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-lock fa-stack-1x"></i>
                </span>
      <% end %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Scaling</small>
    </p>
    <div class="text-center">
      <% if @p1['scaling']['vertical'] %>
      <span class="fa-stack fa-lg tip" title="Vertical Scaling">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrows-v fa-stack-1x fa-inverse"></i>
      </span>
      <% end %>
      <% if @p1['scaling']['horizontal'] %>
      <span class="fa-stack fa-lg tip" title="Horizontal Scaling">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrows-h fa-stack-1x fa-inverse"></i>
      </span>
      <% end %>
      <% if @p1['scaling']['auto'] %>
      <span class="fa-stack fa-lg tip" title="Auto Scaling">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
      </span>
      <% end %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Status</small>
    </p>
    <div class="text-center">
            <span class="text-center">
            <% if @p1["status"] == "beta" %>
                <span class="fa-stack fa-lg tip" title="Beta">
                  <i class="fa fa-circle fa-stack-2x" style="color: #f89406;"></i>
                  <i class="fa fa-warning fa-stack-1x fa-inverse"></i>
                </span>
            <% elsif @p1["status"] == "alpha" %>
                <span class="fa-stack fa-lg tip" title="Alpha">
                  <i class="fa fa-circle fa-stack-2x" style="color: #b94a48"></i>
                  <i class="fa fa-bug fa-stack-1x fa-inverse"></i>
                </span>
            <% else %>
               <span class="fa-stack fa-lg tip" title="Production">
                  <i class="fa fa-circle fa-stack-2x" style="color: #468847;"></i>
                  <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
                </span>
            <% end %>
            </span>
    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Runtimes</small>
    </p>
    <div class="text-center">
      <%
         @p1["runtimes"].sort { |a, b| a["language"] <=> b["language"] }.each do |rt|
      %>
          <img src="<%= url('img/s.gif') %>" class="sprite-languages-<%= rt['language'].downcase.gsub(/[^a-z0-9]/, '_') %> img-rounded tip" title="<%= rt["language"].capitalize %>" style="margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6">

      <% end %>
      <% if @p1['extensible'] %>
      <span class="img-rounded tip" style="background-color: #468847; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="Extensible">
        <span style="display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><i class="fa fa-plus fa-inverse"></i></span>
      </span>
      <% end %>
    </div>
  </td>
</tr>
</td>
</tr>

<!-- TODO middleware -->

<tr>
  <td>
    <div class="text-center">
      <p class="text-center muted">
        <small>Selection of Frameworks<sup class="tip" title="More frameworks may be supported">1</sup></small>
      </p>

      <script>
          var p1_frameworks_missing = 0;
      </script>
      <% unless @p1["frameworks"].blank? %>
          <div id="p1-frameworks-list">
            <% @p1["frameworks"].sort { |a, b| a["name"] <=> b["name"] }.each do |rt| %>
                <script>
                    if (selectorInStyleSheet('frameworks.css', ".sprite-frameworks-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %>")) {
                        $("#p1-frameworks-list").append('<img src="<%= url('img/s.gif') %>" class="sprite-frameworks-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %> img-rounded tip" title="<%= rt["name"].split(" ").map(&:capitalize).join(" ") %>" style="margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;">');
                    } else {
                        p1_frameworks_missing++;
                    }
                </script>
          <%
             end
             end
          %>
      <script>
          if (p1_frameworks_missing > 0) {
              $("#p1-frameworks-list").append('<a href="/vendor/<%= url_encode(@p1['name']) %>#frameworks">\
                                    <span class="img-rounded tip" style="background-color: #ffffff; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="' + p1_frameworks_missing + ' more available">\
                                    <span style="display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><i class="fa fa-plus"></i><strong></strong></span>\
                                    </span></a>');
          }
      </script>
      </div>

    </div>
  </td>
</tr>

<tr>
  <td>
    <p class="text-center muted">
      <small>Services</small>
    </p>
    <div class="text-center">
      <% unless @p1['services'].nil? %>
          <p><span class="img-rounded tip" style="background-color: #000000; display:inline-block;vertical-align:middle;margin:5px;width: 25px;height:25px;border: 1px solid #000000;" title="Total amount of Services">
                  <span style="color: #ffffff; display:inline-block;text-align:center; margin-top: 3px; font-size:15px;width: 25px;height:25px;"><strong><%= @p1['services']['native'].size %></strong></span>
               </span></p>
      <% end %>

      <script>
          var p1_services_missing = 0;
      </script>
      <% unless @p1["services"]["native"].blank? %>
          <div id="p1-services-list">
            <% @p1["services"]["native"].sort { |a, b| a["name"] <=> b["name"] }.each do |rt| %>
                <script>
                    if (selectorInStyleSheet('services.css', ".sprite-services-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %>")) {
                        $("#p1-services-list").append('<img src="<%= url('img/s.gif') %>" class="sprite-services-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %> img-rounded tip" title="<%= rt["name"].split(" ").map(&:capitalize).join(" ") %>" style="margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;">');
                    } else {
                        p1_services_missing++;
                    }
                </script>
          <%
             end
             end
          %>
      <script>
          if (p1_services_missing > 0) {
              $("#p1-services-list").append('<a href="/vendor/<%= url_encode(@p1['name']) %>#services">\
                                    <span class="img-rounded tip" style="background-color: #ffffff; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="' + p1_services_missing + ' more available">\
                                    <span style="display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><i class="fa fa-plus"></i><strong></strong></span>\
                                    </span></a>');
          }
      </script>
      </div>

    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Add-ons</small>
    </p>

    <div class="text-center">
      <p>
        <span class="img-rounded tip" style="background-color: #000000; display:inline-block;vertical-align:middle;margin:5px;width: 25px;height:25px;border: 1px solid #000000;" title="Total amount of Add-ons">
            <span style="color: #ffffff; display:inline-block;text-align:center; margin-top: 3px; font-size:15px;width: 25px;height:25px;"><strong><%= @p1['services']['addon'].size %></strong></span>
        </span>
      </p>

      <script>
          var p1_addon_missing = 0;
      </script>
      <% unless @p1["services"]["addon"].blank? %>
          <div id="p1-addon-list" class="text-left">
            <% @p1["services"]["addon"].sort { |a, b| a["name"] <=> b["name"] }.each do |rt| %>
                <script>
                    if (selectorInStyleSheet('addons.css', ".sprite-addons-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %>")) {
                        $("#p1-addon-list").append('<a <% unless rt["url"].blank? %>href="<%= rt["url"] %>"<% end %> target="_blank">\
                      <img src="<%= url('img/s.gif') %>" class="sprite-addons-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %> img-rounded tip" title="<%= rt["name"].split(" ").map(&:capitalize).join(" ") %>" style="margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;"></a>');
                    } else {
                        p1_addon_missing++;
                    }
                </script>
          <%
             end
             end
          %>
      <script>
          if (p1_addon_missing > 0) {
              $("#p1-addon-list").append('<a href="/vendor/<%= url_encode(@p1['name']) %>#services">\
                                    <span class="img-rounded tip" style="background-color: #ffffff; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="' + p1_addon_missing + ' more available">\
                                    <span style="display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><i class="fa fa-plus"></i><strong></strong></span>\
                                    </span></a>');
          }
      </script>
      </div>

    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Infrastructures</small>
    </p>

    <div class="text-center">
      <p><span class="img-rounded tip" style="background-color: #000000; display:inline-block;vertical-align:middle;margin:5px;width: 25px;height:25px;border: 1px solid #000000;" title="Total amount of Infrastructures">
                  <span style="color: #ffffff; display:inline-block;text-align:center; margin-top: 3px; font-size:15px;width: 25px;height:25px;"><strong><%= !@p1['infrastructures'].blank? ? @p1['infrastructures'].size : 0 %></strong></span>
               </span></p>

      <% unless @p1['infrastructures'].blank? %>
          <% @p1['infrastructures'].uniq { |i| i['continent'] }.sort { |a, b| a['continent'] <=> b['continent'] }.each do |rt| %>
               <span class="img-rounded tip" style="background-color: #468847; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="<%= continent_by_code rt['continent'] %>">
                  <span style="color: #ffffff;display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><strong><%= rt['continent'] %></strong></span>
               </span>
          <% end %>
      <% else %>

          <small><em>Bring your own infrastructure.</em></small>
      <% end %>
    </div>
  </td>
</tr>
</tbody>
</table>
</div>
</li>

<li id="p2" class="span6">
<div class="thumbnail" style="text-align:center; padding: 20px;">

<table class="table">
<tbody>
<tr>
  <% if File.exist?(settings.public_folder << '/img/vendor/' << @p2['name'].downcase.gsub(/[^a-z0-9]/, '_') << '.png') %>
      <img src="<%= url('/img/vendor/' << @p2['name'].downcase.gsub(/[^a-z0-9]/, '_') << '.png') %>" class="img-rounded" style="margin-bottom: 8px">
  <% end %>
  <h2>
    <a href="/vendor/<%= url_encode(@p2['name']) %>"><%= @p2['name'] %></a>
    <% unless @p2['vendor_verified'].nil? %>
        <i style="vertical-align: super; font-size: 14px" class="fa fa-check-circle" title="Verified by Vendor on <%= @p2['vendor_verified'].to_date %>"></i>
    <% end %>
  </h2>

  <div>
    <a href="/vendor/<%= url_encode(@p2['name']) %>" class="btn btn-inverse btn-mini">View details</a>
  </div>
  <p><br></p>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Deployment</small>
    </p>

    <div class="text-center">
      <% if @p2['hosting']['public'] %>
               <span class="fa-stack fa-lg tip" title="Public PaaS">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-eye fa-stack-1x"></i>
                </span>
      <% elsif @p2['hosting']['private'] %>
               <span class="fa-stack fa-lg tip" title="Private PaaS">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-lock fa-stack-1x"></i>
                </span>
      <% end %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Scaling</small>
    </p>
    <div class="text-center">
      <% if @p2['scaling']['vertical'] %>
      <span class="fa-stack fa-lg tip" title="Vertical Scaling">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrows-v fa-stack-1x fa-inverse"></i>
      </span>
      <% end %>
      <% if @p2['scaling']['horizontal'] %>
      <span class="fa-stack fa-lg tip" title="Horizontal Scaling">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrows-h fa-stack-1x fa-inverse"></i>
      </span>
      <% end %>
      <% if @p2['scaling']['auto'] %>
      <span class="fa-stack fa-lg tip" title="Auto Scaling">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
      </span>
      <% end %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Status</small>
    </p>
    <div class="text-center">
            <span class="text-center">
            <% if @p2["status"] == "beta" %>
                <span class="fa-stack fa-lg tip" title="Beta">
                  <i class="fa fa-circle fa-stack-2x" style="color: #f89406;"></i>
                  <i class="fa fa-warning fa-stack-1x fa-inverse"></i>
                </span>
            <% elsif @p2["status"] == "alpha" %>
                <span class="fa-stack fa-lg tip" title="Alpha">
                  <i class="fa fa-circle fa-stack-2x" style="color: #b94a48"></i>
                  <i class="fa fa-bug fa-stack-1x fa-inverse"></i>
                </span>
            <% else %>
               <span class="fa-stack fa-lg tip" title="Production">
                  <i class="fa fa-circle fa-stack-2x" style="color: #468847;"></i>
                  <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
                </span>
            <% end %>
            </span>
    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Runtimes</small>
    </p>
    <div class="text-center">
      <%
         @p2["runtimes"].sort { |a, b| a["language"] <=> b["language"] }.each do |rt|
      %>
          <img src="<%= url('img/s.gif') %>" class="sprite-languages-<%= rt['language'].downcase.gsub(/[^a-z0-9]/, '_') %> img-rounded tip" title="<%= rt["language"].capitalize %>" style="margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6">

      <% end %>
      <% if @p2['extensible'] %>
      <span class="img-rounded tip" style="background-color: #468847; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="Extensible">
        <span style="display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><i class="fa fa-plus fa-inverse"></i></span>
      </span>
      <% end %>
    </div>
  </td>
</tr>
</td>
</tr>

<!-- TODO middleware -->

<tr>
  <td>
    <div class="text-center">
    <p class="text-center muted">
      <small>Selection of Frameworks<sup class="tip" title="More frameworks may be supported">1</sup></small>
    </p>

      <script>
          var p2_frameworks_missing = 0;
      </script>
      <% unless @p2["frameworks"].blank? %>
          <div id="p2-frameworks-list">
            <% @p2["frameworks"].sort { |a, b| a["name"] <=> b["name"] }.each do |rt| %>
                <script>
                    if (selectorInStyleSheet('frameworks.css', ".sprite-frameworks-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %>")) {
                        $("#p2-frameworks-list").append('<img src="<%= url('img/s.gif') %>" class="sprite-frameworks-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %> img-rounded tip" title="<%= rt["name"].split(" ").map(&:capitalize).join(" ") %>" style="margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;">');
                    } else {
                        p2_frameworks_missing++;
                    }
                </script>
          <%
             end
             end
          %>
      <script>
          if (p2_frameworks_missing > 0) {
              $("#p2-frameworks-list").append('<a href="/vendor/<%= url_encode(@p2['name']) %>#frameworks">\
                                    <span class="img-rounded tip" style="background-color: #ffffff; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="' + p2_frameworks_missing + ' more available">\
                                    <span style="display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><i class="fa fa-plus"></i><strong></strong></span>\
                                    </span></a>');
          }
      </script>
      </div>

    </div>
  </td>
</tr>

<tr>
  <td>
    <p class="text-center muted">
      <small>Services</small>
    </p>
    <div class="text-center">
      <% unless @p2['services'].nil? %>
          <p><span class="img-rounded tip" style="background-color: #000000; display:inline-block;vertical-align:middle;margin:5px;width: 25px;height:25px;border: 1px solid #000000;" title="Total amount of Services">
                  <span style="color: #ffffff; display:inline-block;text-align:center; margin-top: 3px; font-size:15px;width: 25px;height:25px;"><strong><%= @p2['services']['native'].size %></strong></span>
               </span></p>
      <% end %>

      <script>
          var p2_services_missing = 0;
      </script>
      <% unless @p2["services"]["native"].blank? %>
          <div id="p2-services-list">
            <% @p2["services"]["native"].sort { |a, b| a["name"] <=> b["name"] }.each do |rt| %>
                <script>
                    if (selectorInStyleSheet('services.css', ".sprite-services-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %>")) {
                        $("#p2-services-list").append('<img src="<%= url('img/s.gif') %>" class="sprite-services-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %> img-rounded tip" title="<%= rt["name"].split(" ").map(&:capitalize).join(" ") %>" style="margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;">');
                    } else {
                        p2_services_missing++;
                    }
                </script>
          <%
             end
             end
          %>
      <script>
          if (p2_services_missing > 0) {
              $("#p2-services-list").append('<a href="/vendor/<%= url_encode(@p2['name']) %>#services">\
                                    <span class="img-rounded tip" style="background-color: #ffffff; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="' + p2_services_missing + ' more available">\
                                    <span style="display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><i class="fa fa-plus"></i><strong></strong></span>\
                                    </span></a>');
          }
      </script>
      </div>

    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Add-ons</small>
    </p>

    <div class="text-center">
      <p>
        <span class="img-rounded tip" style="background-color: #000000; display:inline-block;vertical-align:middle;margin:5px;width: 25px;height:25px;border: 1px solid #000000;" title="Total amount of Add-ons">
            <span style="color: #ffffff; display:inline-block;text-align:center; margin-top: 3px; font-size:15px;width: 25px;height:25px;"><strong><%= @p2['services']['addon'].size %></strong></span>
        </span>
      </p>

      <script>
          var p2_addon_missing = 0;
      </script>
      <% unless @p2["services"]["addon"].blank? %>
      <div id="p2-addon-list" class="text-left">
            <% @p2["services"]["addon"].sort { |a, b| a["name"] <=> b["name"] }.each do |rt| %>
              <script>
                if (selectorInStyleSheet('addons.css', ".sprite-addons-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %>")) {
                    $("#p2-addon-list").append('<a <% unless rt["url"].blank? %>href="<%= rt["url"] %>"<% end %> target="_blank">\
                      <img src="<%= url('img/s.gif') %>" class="sprite-addons-<%= rt['name'].downcase.gsub(/[^a-z0-9]/, '_') %> img-rounded tip" title="<%= rt["name"].split(" ").map(&:capitalize).join(" ") %>" style="margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;"></a>');
                } else {
                  p2_addon_missing++;
                }
              </script>
          <%
             end
             end
          %>
          <script>
              if (p2_addon_missing > 0) {
                  $("#p2-addon-list").append('<a href="/vendor/<%= url_encode(@p2['name']) %>#services">\
                                    <span class="img-rounded tip" style="background-color: #ffffff; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="' + p2_addon_missing + ' more available">\
                                    <span style="display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><i class="fa fa-plus"></i><strong></strong></span>\
                                    </span></a>');
              }
          </script>
      </div>

    </div>
  </td>
</tr>
<tr>
  <td>
    <p class="text-center muted">
      <small>Infrastructures</small>
    </p>

    <div class="text-center">
      <p><span class="img-rounded tip" style="background-color: #000000; display:inline-block;vertical-align:middle;margin:5px;width: 25px;height:25px;border: 1px solid #000000;" title="Total amount of Infrastructures">
                  <span style="color: #ffffff; display:inline-block;text-align:center; margin-top: 3px; font-size:15px;width: 25px;height:25px;"><strong><%= !@p2['infrastructures'].blank? ? @p2['infrastructures'].size : 0 %></strong></span>
               </span></p>

      <% unless @p2['infrastructures'].blank? %>
          <% @p2['infrastructures'].uniq { |i| i['continent'] }.sort { |a, b| a['continent'] <=> b['continent'] }.each do |rt| %>
               <span class="img-rounded tip" style="background-color: #468847; display:inline-block;vertical-align:middle;margin:5px;width: 40px;height:40px;border: 1px solid #E6E6E6;" title="<%= continent_by_code rt['continent'] %>">
                  <span style="color: #ffffff;display:inline-block;text-align:center; margin-top: 10px; font-size:20px;width: 40px;height:40px;"><strong><%= rt['continent'] %></strong></span>
               </span>
          <% end %>
      <% else %>

          <small><em>Bring your own infrastructure.</em></small>
      <% end %>
    </div>
  </td>
</tr>
</tbody>
</table>
</div>
</li>

</ul>

</div>

<script src="../js/jquery.prettydate.js"></script>
<script>
    $(window).load(function() {
;
        var p2_grid = $('#p2 tr');
        $('#p1 tr').each(function(index) {
            var p2_tr = p2_grid.eq(index);
            if ($(this).height() >= p2_tr.height()) {
                p2_tr.height($(this).height());
            } else {
                $(this).height(p2_tr.height());
            }
        });

    });
</script>