<link href="../css/bootstrap-select.min.css" rel="stylesheet"/>

<div class="container">
  <div class="jumbotron">
    <h1>Find your Platform as a Service!</h1>

    <p class="lead">What's best on your PaaS? Define your needs and get a list of candidates that claim to be your best
      fit.</p>
  </div>

  <hr/>
  <div>

    <form class="form-horizontal span8" style="margin-left: auto; margin-right: auto; float: none;" id="filter">
      <div class="control-group">
        <label class="control-label" for="selectStatus">Status</label>

        <div class="controls">
          <select id="selectStatus" name="status" class="selectpicker show-tick" data-width="100%">
            <option value="">Any</option>
            <%
               Vendor.distinct(:status).each do |s|
            %>
                <option value="<%= s %>"><%= s.capitalize %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Hosting</label>

        <div class="controls">
          <select name="hosting[]" class="selectpicker" data-width="100%" multiple>
            <option data-icon="icon-eye-open" value="public">Public</option>
            <option data-icon="icon-lock" value="private">Private</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Scaling</label>

        <div class="controls">
          <select name="scaling[]" class="selectpicker" data-width="100%" multiple>
            <option data-icon="icon-resize-vertical" data-subtext="(Size of RAM, CPU, ...)" value="vertical">Vertical</option>
            <option data-icon="icon-resize-horizontal" data-subtext="(Number of instances)" value="horizontal">Horizontal</option>
            <option data-icon="icon-refresh" data-subtext="(Automatic scaling of one or both directions)" value="auto">Auto</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Runtimes</label>

        <div class="controls">
          <select name="runtimes[]" class="selectpicker" data-width="100%" data-selected-text-format="count > 6" multiple>
            <%
               Vendor.distinct('runtimes.language').sort.each do |r|
            %>
                <option value="<%= r %>"><%= r.capitalize %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Middleware</label>

        <div class="controls">
          <select name="middleware[]" class="selectpicker" data-width="100%" data-selected-text-format="count > 6" multiple>
            <%
               Vendor.distinct('middleware.name').sort.each do |r|
            %>
                <option value="<%= r %>"><%= r.capitalize %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Frameworks</label>

        <div class="controls">
          <select name="frameworks[]" class="selectpicker" data-width="100%" data-selected-text-format="count > 6" multiple>
            <%
               Vendor.distinct('frameworks.name').sort.each do |r|
            %>
                <option value="<%= r %>"><%= r.capitalize %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label title="Operated by the PaaS vendor" class="control-label">Services</label>

        <div class="controls">
          <select name="services[]" class="selectpicker" data-live-search="true" data-width="100%" data-selected-text-format="count > 5" multiple>
            <%
               Vendor.distinct('services.native.name').sort.each do |s|
            %>
                <option value="<%= s %>"><%= s.split(" ").map(&:capitalize).join(" ") %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label title="Operated by a 3rd party vendor" class="control-label">Addons</label>

        <div class="controls">
          <select name="addons[]" class="selectpicker" data-live-search="true" data-width="100%" data-selected-text-format="count > 5" multiple>
            <%
               Vendor.distinct('services.addon.name').sort.each do |s|
            %>
                <option value="<%= s %>"><%= s.split(" ").map(&:capitalize).join(" ") %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label title="Possibility to add custom runtimes, services, ..." class="control-label">Extensible</label>

        <div class="controls">
          <input name="extensible" type="checkbox">
        </div>
      </div>

      <div class="control-group">
        <label title="Available deployment regions" class="control-label">Geolocations</label>

        <div class="controls">
          <select name="infras[]" class="selectpicker" data-width="100%" multiple data-selected-text-format="count > 4" multiple>
            <option data-icon="icon-globe" value="NA">North America</option>
            <option data-icon="icon-globe" value="SA">South America</option>
            <option data-icon="icon-globe" value="EU">Europe</option>
            <option data-icon="icon-globe" value="AS">Asia</option>
            <option data-icon="icon-globe" value="OC">Oceania</option>
          </select>
        </div>
      </div>
    </form>

    <div class="form-actions text-center">
      <button id="submit" type="submit" class="btn btn-primary btn-large">Find your PaaS</button>
      <button type="reset" class="close" title="Reset">&times;</button>
    </div>

    <div id="result" style="padding-top: 20px;"></div>
  </div>

</div>

<script src="../js/bootstrap-select.min.js"></script>
<script>
    function loadData() {
        var data = $('#filter').serialize();

        $.get('search', data, function (response) {
                    $('#result').html(response);
                },
                'html'
        );
    }

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        loadData();

        $(':reset').on('click', function (e) {
            e.preventDefault();

            $('#filter')[0].reset();
            $('.selectpicker').selectpicker('render');
            loadData();
        });

        $('#submit').on('click', function (e) {
            e.preventDefault();

            data = $('#filter').serialize();

            $.get('search', data, function (response) {
                        $('#result').html(response);
                        $('body,html').animate({
                            scrollTop: $("#result").offset().top
                        }, 500);
                    },
                    'html'
            );
        });

    });
</script>