<%
   query = Vendor.all

   # status
   unless params[:status].nil? || params[:status].empty?
     query = query.where(status: params[:status])
   end

   # hosting
   unless params[:hosting].nil?
     if params[:hosting].include? "public"
       query = query.where("hosting.public" => true)
     end
     if params[:hosting].include? "private"
       query = query.where("hosting.private" => true)
     end
   end

   # scaling
   unless params[:scaling].nil?
     if params[:scaling].include? "vertical"
       query = query.where("scaling.vertical" => true)
     end
     if params[:scaling].include? "horizontal"
       query = query.where("scaling.horizontal" => true)
     end
     if params[:scaling].include? "auto"
       query = query.where("scaling.auto" => true)
     end
   end

   # runtimes
   unless params[:runtimes].nil?
     query = query.all("runtimes.language" => params[:runtimes])
   end

   # middleware
   unless params[:middleware].nil?
     params[:middleware].map { |e| /#{e}/i }
     query = query.all("middleware.name" => params[:middleware])
   end

   # frameworks
   unless params[:frameworks].nil?
     params[:frameworks].map { |e| /#{e}/i }
     query = query.all("frameworks.name" => params[:frameworks])
   end

   # services
   unless params[:services].nil?
     params[:services].map { |e| /#{e}/i }
     query = query.all("services.native.name" => params[:services])
   end

   # addons
   unless params[:addons].nil?
     params[:addons].map { |e| /#{e}/i }
     query = query.all("services.addon.name" => params[:addons])
   end

   # extensible
   unless params[:extensible].nil?
     query = query.where(extensible: true)
   end

   # infras
   unless params[:infras].nil?
     # private paas can be deployed everywhere
     if params[:hosting].nil?
       query = query.or({"infrastructures.continent" => {"$all" => params[:infras]}}, {"hosting.private" => true})
     # if hosting = public match infras
     elsif params[:hosting].length == 1 && params[:hosting].include?("public")
       query = query.all("infrastructures.continent" => params[:infras])
     end
     # ignore infras if hosting == private
   end

   unless query.exists?

%>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      We're sorry, but we could not find any PaaS that matches your requirements!
    </div>
<% else %>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th class="hidden-phone">Status</th>
        <th class="hidden-phone">Runtimes</th>
        <th class="hidden-phone">Scaling</th>
        <th class="hidden-phone">Hosting</th>
        <th class="hidden-phone">Infrastructures</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%
         query.sort { |x, y| x.name.downcase <=> y.name.downcase }.each do |profile|
      %>
          <tr>
            <td>
              <a href="/vendor/<%= url_encode(profile["name"]) %>"><%= profile["name"] %></a>
              <% unless profile["vendor_verified"].nil? %>
                  &nbsp;<span class="icon-ok-sign" title="Verified by Vendor"></span>
              <% end %>
            </td>
            <td class="hidden-phone">
              <% if profile["status"] == "beta" %>
                  <span class="label label-warning">Beta</span>
              <% elsif profile["status"] == "alpha" %>
                  <span class="label label-important">Alpha</span>
              <% else %>
                  <span class="label label-success">Production</span>
              <% end %>
            </td>

            <td class="hidden-phone">
              <div class="row-fluid">
                <%
                   profile["runtimes"].uniq { |h| h["language"] }.each do |rt|
                %>
                    <span class="label label-info"><%= rt["language"] %></span>
                <%
                   end

                   if profile["extensible"]
                %>
                    <span class="label label-success">extensible</span>
                <% end %>
              </div>
            </td>

            <td class="hidden-phone">
              <% if profile["scaling"]["vertical"] %>
                  <span class="icon-resize-vertical" title="vertical"></span>
              <% end %>
              <% if profile["scaling"]["horizontal"] %>
                  <span class="icon-resize-horizontal" title="horizontal"></span>
              <% end %>
              <% if profile["scaling"]["auto"] %>
                  <span class="icon-refresh" title="auto"></span>
              <% end %>
            </td>

            <td class="hidden-phone">
              <% if profile["hosting"]["public"] %>
                  <span class="icon-eye-open" title="public"></span>
              <% end
                 if profile["hosting"]["private"]
              %>
                  <span class="icon-lock" title="private"></span>
              <% end %>
            </td>

            <td class="hidden-phone">
              <div class="row-fluid">
                <%
                   unless profile["infrastructures"].nil?
                     profile["infrastructures"].uniq { |h| h["continent"] }.each do |rt|

                       title = continent_by_code rt['continent']
                %>
                        <span class="label label-inverse" title="<%= title %>"><%= rt["continent"] %></span>
                    <%
                       end
                       end
                    %>
              </div>
            </td>

            <td>
              <a href="/vendor/<%= url_encode(profile["name"]) %>" class="btn btn-success btn-small">Details</a>
            </td>
          </tr>
          </tbody>
      <%
         end
      %>
      </table>
    <div>
      <small><em>Showing <%= query.length %> out of <%= Vendor.count %> vendors.</em></small>
      <a href="#top" title="Back to top" class="pull-right icon-chevron-up"></a>
    </div>
<% end %>