<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Server Error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= url('/css/paasify.css') %>" rel="stylesheet">
  <link href="<%= url('/css/bootstrap.min.css') %>" rel="stylesheet">
  <link rel="icon" href="<%= url('/favicon.png') %>" type="image/png">
</head>
<body>
<div id="top" class="container" style="padding-top: 100px; padding-bottom: 30px;">
  <div class="row">
    <div class="span12 text-center">
      <h1 style="font-size: 150px; padding-bottom: 40px;" class="text-error">500</h1>
      <h1 style="margin-bottom: 30px;">Oops, something went wrong!</h1>
      <p style="font-size: 16px;">If the problem persists, feel free to contact us.</p>
    </div>
  </div>
</div>
<hr class="soften"/>
<footer id="footer" style="background-color: #fff; padding-bottom: 60px;">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row text-center">
          <div class="span12">
            <a href="https://github.com/stefan-kolb/paas-profiles" target="_blank" style="text-decoration: none; padding: 5px;">
              <img src="<%= url('/img/github.png') %>" alt="github" style="width: 30px;">
            </a>
            <a href="mailto:stefan.kolb@uni-bamberg.de" target="_blank" style="text-decoration: none; padding: 5px;">
              <img src="<%= url('/img/email.png') %>" alt="mail" style="width: 30px;">
            </a>
            <a href="https://twitter.com/stfnklb" target="_blank" style="text-decoration: none; padding: 5px;">
              <img src="<%= url('/img/twitter.png') %>" alt="twitter" style="width: 30px;">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="span12 text-center" style="margin-top: 20px;">
            <small><em>&copy; 2014</em></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>