<% 
	require 'json'
	require 'mongo'

mongo = {
	"hostname" => "localhost",
	"port" => 27017,
	"username" => "",
	"password" => "",
	"db" => "paas"
}

unless ENV['VCAP_SERVICES'].nil?
    env = JSON.parse(ENV['VCAP_SERVICES'])
    mongo = env['mongodb-1.8'][0]['credentials']
end

client = Mongo::MongoClient.new(mongo["hostname"], mongo["port"])
db = client.db(mongo['db'])

unless mongo["hostname"] == "localhost"
	db.authenticate(mongo["username"], mongo["password"])
end

col = db["vendors"]
%>
	<link href="../css/glyphicons.css" rel="stylesheet" />
	<link href="../css/bootstrap-select.min.css" rel="stylesheet" />
	<style>
      /* Main marketing message and sign up button */
      .jumbotron {
	  /*height: 400px;*/
        margin: 20px 0;
        text-align: center;
		/*background: url("img/sub.png") no-repeat;*/
		background-size: 100%;
      }
      .jumbotron h1 {
        font-size: 60px;
        line-height: 1;
		background: rgba(255, 255, 255, 0.6);
      }
      .jumbotron .lead {
        font-size: 20px;
        line-height: 1.25;
		background: rgba(255, 255, 255, 0.6);
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
	    .extendable {
			font-style: italic;
			color: #fff;
			background:#468847;
		}
    </style>

		<div id="top" class="container">
			<div class="jumbotron">
			<h1>Find your PaaS!</h1>

        <p class="lead">What's best on your PaaS? Define your needs and get a list of candidates that claim to be your best fit.</p>
      </div>
			
			<hr />
			<div class="row">
			
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="selectStatus">Status</label>
			<div class="controls">
				<select name="status" class="selectpicker show-tick" id="selectStatus">
					<option value="">Any</option>
					<% 
					col.distinct( 'status' ).each do |s| 
					%>
					<option value="<%= s %>"><%= s.capitalize %></option>
					<% end %>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Hosting</label>
			<div class="controls">
				<select name="hosting[]" class="selectpicker" multiple>
					<option data-icon="icon-eye-open"" value="public">Public</option>
					<option data-icon="icon-lock" value="private">Private</option>
				</select>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Scaling</label>
			<div class="controls">
				<select name="scaling[]" class="selectpicker" multiple>
					<option data-subtext="(Ram, CPU, ...)" value="vertical">Vertical</option>
					<option data-subtext="(Instances)" value="horizontal">Horizontal</option>
					<option data-subtext="(Automatic scaling of one or both directions)" value="auto">Auto</option>
				</select>
			</div>
		</div>
		
		<div class="control-group">
		  <label class="control-label">Runtimes</label>
			<div class="controls">
				<select name="runtimes[]" class="selectpicker" data-width="500px" data-selected-text-format="count > 6" multiple>
					<% 
					col.distinct( 'runtimes.language' ).sort.each do |r| 
					%>
					<option value="<%= r %>"><%= r.capitalize %></option>
					<% end %>
				</select>
			</div>
		</div>
  
    <div class="control-group">
	<label class="control-label">Geolocations</label>
		<div class="controls">
	<select name="infras[]" class="selectpicker" data-width="500px" multiple data-selected-text-format="count > 4" multiple>
	  <option data-icon="icon-globe" value="na">North America</option>
	  <option data-icon="icon-globe" value="sa">South America</option>
	  <option data-icon="icon-globe" value="eu">Europe</option>
	  <option data-icon="icon-globe" value="as">Asia</option>
	  <option data-icon="icon-globe" value="oc">Oceania</option>
	</select>
	  </div>
  </div>
  
  <!--
      <div class="control-group">
		<div class="controls">
	<select name="infras[]" class="selectpicker" data-width="500px" multiple data-selected-text-format="count > 3" multiple>
	  <option data-subtext="Datastore" value="na">MongoHQ</option>
	  <option data-subtext="Datastore" value="sa">MongoLab</option>
	  <option data-subtext="Datastore" value="eu">MyRedis</option>
	  <option data-divider="true"></option>
	  <option data-subtext="Analytics" value="as">New Relic</option>
	  <option data-subtext="Analytics" value="oc">StillAlive</option>
	</select>
	  </div> 
	  	  Time, pricing, hosting, scaling, middleware, framework, extendable
		  -->
	  
  </div>
  
  <div class="form-actions text-center">
	<button type="submit" onClick="" class="btn btn-primary btn-large">Find your PaaS</button>
	</div>
</form>

<%
obj = {}

# status
unless params[:status].nil? || params[:status].empty?
	obj["status"] = params[:status]
end

# hosting
unless params[:hosting].nil?
	obj["hosting"] = { '$all' => params[:hosting] }
end

# scaling
unless params[:scaling].nil?
	if params[:scaling].include? "vertical"
		obj["scaling.vertical"] = true
	end
	if params[:scaling].include? "horizontal"
		obj["scaling.horizontal"] = true
	end
	if params[:scaling].include? "auto"
		obj["scaling.auto"] = true
	end
end

# runtimes
unless params[:runtimes].nil?
	obj["runtimes.language"] = { '$all' => params[:runtimes] }
end


	rows = col.find( obj )
	
	unless rows.has_next?
 %>	
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  We're sorry, but we could not find any PaaS that matches your ideas!
</div> 
<% else %>
<!--<%= obj.to_s %>-->
	<table class="table table-bordered table-hover">
			<thead>
				<tr><th>Name</th><th>Status</th><th>Runtimes</th><th>Scaling</th><th>Hosting</th><th>Infrastructures</th><th></th></tr>
			</thead>
			<tbody>
			<%
				rows.each do |profile| 
			%>
			<tr>
				<td>
					<a href="<%= profile["url"] %>" target="_blank"><%= profile["name"] %></a>
					<% if profile["vendor_verified"] %>
					&nbsp;<span class="icon-ok-sign" title="Vendor Profile"></span>
					<% end %>
				</td>
				<td>
					<% if profile["status"] == "beta" %>
					<span class="label label-warning">Beta</span>
					<% else %>
					<span class="label label-success">Production</span>
					<% end %>
				</td>

				<td>
					<div class="row-fluid">
					<% 
						profile["runtimes"].uniq { |h| h["language"] }.each do |rt|
					%>
						<span class="label label-info"><%= rt["language"] %></span>
					<% 
						end
						
						if profile["extendable"]
					%>
						<span class="label label-success">extendable</span>
					<% 	end  %>
					</div>
				</td>

				<td>
					<% if profile["scaling"]["vertical"] %>
					<span class="icon-resize-vertical" title="vertical"></span>
					<% end %>
					<% if profile["scaling"]["horizontal"] %>
					<span class="icon-resize-horizontal" title="horizontal"></span>
					<% end %>
					<% if profile["scaling"]["auto"] %>
					<span class="icon-refresh" title="auto"></span>
					<% end %>
				</td>
				
				<td>
					<% if profile["hosting"].include? "public" %>
					<span class="icon-eye-open" title="public"></span>
					<% end
						if profile["hosting"].include? "private"
					%>
					<span class="icon-lock" title="private"></span>
					<% end %>
				</td>

				<td>
					<div class="row-fluid">
					<% 
						profile["infrastructures"].uniq { |h| h["continent"] }.each do |rt|
						
						title = ""
						
						case rt["continent"]
							when "EU"
								title = "Europe"
							when "SA"
								title = "South America"
							when "NA"
								title = "North America"
							when "AS"
								title = "Asia"
							when "OC"
								title = "Oceania"
							else
								title = "Africa"
						end
					%>
						<span class="label label-inverse" title="<%= title %>"><%= rt["continent"] %></span>
					<% 
						end
					%>
					</div>
				</td>
				
				<td>
					<a href="/vendor/<%= profile["name"].downcase.gsub(/[\s\.]/,'_') %>" class="btn btn-success btn-small">Details</a>
				</td>
			</tr>
			</tbody>
			<% 	
				end
			%>
		</table>
		<% end %>
		</div>
		
		<script src="../js/bootstrap-select.min.js"></script>
		<script>
			$(document).ready(function() {
				$('ul.breadcrumb > li:first').wrapInner('<a href="/vendors" />');
				$('ul.breadcrumb > li').append('<span class="divider">/</span>');
				$('ul.breadcrumb > li').after('<li class="active">Find your PaaS</li>');
				
				$('.selectpicker').selectpicker();
			});
		</script>		