<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Platform as a Service Provider Comparison">
  <meta name="keywords" content="PaaS, Comparison, Matching, Cloud, Platform as a Service, Cloud Computing">
  <meta name="author" content="Stefan Kolb">
  <link href="<%= url('/css/paasify.css') %>" rel="stylesheet">
  <link href="<%= url('/css/bootstrap.min.css') %>" rel="stylesheet">
  <link href="<%= url('/css/bootstrap-responsive.min.css') %>" rel="stylesheet">
  <link href="<%= url('/css/nprogress.css') %>" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="icon" href="<%= url('/favicon.png') %>" type="image/png">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="<%= url('/js/bootstrap.min.js') %>"></script>
  <script src="<%= url('/js/nprogress.js') %>"></script>
  <script src="http://code.highcharts.com/3.0/highcharts.js"></script>
  <script src="/js/themes/paasify.js"></script>
  <!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
</head>
<body>
<div style="background-color: #f5f5f5; margin-bottom: 10px;">
  <div class="container">
    <%= render_navigation(renderer: :breadcrumbs) %>
  </div>
</div>

<div id="top" class="container" style="padding-bottom: 30px;">
  <div class="row">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>

<footer id="footer" style="background-color: #f5f5f5; padding: 25px 0px 50px;">
  <div class="container">
    <ul style="list-style: none; margin: 0px;">
      <li style="display: inline-block;">
        <small><em>&copy; 2014<br>Brewed in <i class="fa fa-university" title="University"></i> of Bamberg.</em></small>
      </li>
      <li style="display: inline-block;" class="pull-right hidden-phone">
        <a class="tip" href="https://github.com/stefan-kolb/paas-profiles" data-toggle="tooltip" title="Contribute on Github" target="_blank" style="text-decoration: none; padding: 5px;">
          <img src="<%= url('/img/github.png') %>" alt="github" style="width: 25px;">
        </a>
        <a class="tip" href="mailto:stefan.kolb@uni-bamberg.de" data-toggle="tooltip" title="Connect via mail" target="_blank" style="text-decoration: none; padding: 5px;">
          <img src="<%= url('/img/email.png') %>" alt="mail" style="width: 25px;">
        </a>
        <a class="tip" href="https://twitter.com/stfnklb" data-toggle="tooltip" title="Follow on Twitter" target="_blank" style="text-decoration: none; padding: 5px;">
          <img src="<%= url('/img/twitter.png') %>" alt="twitter" style="width: 25px;">
        </a>
      </li>
    </ul>
  </div>
</footer>
<script>
    // progress bar
    $(document).ready(function () {
        NProgress.start();
    });

    $(window).load(function () {
        NProgress.done();
    });

    // tooltips
    $('.tip').tooltip({ placement: 'bottom' });
</script>
</body>
</html>