<%
	require 'json'
	require 'mongo'

mongo = {
	"hostname" => "localhost",
	"port" => 27017,
	"username" => "",
	"password" => "",
	"db" => "paas"
}

unless ENV['VCAP_SERVICES'].nil?
    env = JSON.parse(ENV['VCAP_SERVICES'])
    mongo = env['mongodb-1.8'][0]['credentials']
end

client = Mongo::MongoClient.new(mongo["hostname"], mongo["port"])
db = client.db(mongo['db'])

unless mongo["hostname"] == "localhost"
	db.authenticate(mongo["username"], mongo["password"])
end

col = db["vendors"]

obj = {}

# status
unless params[:status].nil? || params[:status].empty?
	obj["status"] = params[:status]
end

# hosting
unless params[:hosting].nil?
	obj["hosting"] = { '$all' => params[:hosting] }
end

# scaling
unless params[:scaling].nil?
	if params[:scaling].include? "vertical"
		obj["scaling.vertical"] = true
	end
	if params[:scaling].include? "horizontal"
		obj["scaling.horizontal"] = true
	end
	if params[:scaling].include? "auto"
		obj["scaling.auto"] = true
	end
end

# runtimes
unless params[:runtimes].nil?
	obj["runtimes.language"] = { '$all' => params[:runtimes] }
end

# services
unless params[:services].nil?
	obj["services.native.id"] = { '$all' => params[:services] }
end

# addons
unless params[:addons].nil?
	obj["services.addon.id"] = { '$all' => params[:addons] }
end

# extendable
unless params[:extendable].nil?
	obj["extendable"] = true
end

# infras
unless params[:infras].nil?
	obj["infrastructures.continent"] = { '$all' => params[:infras] }
end

	rows = col.find( obj )
	
	unless rows.has_next?
 %>	
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  We're sorry, but we could not find any PaaS that matches your ideas!
</div> 
<% else %>
<!--<%= obj.to_s %>-->
	<table class="table table-bordered table-hover">
			<thead>
				<tr><th>Name</th><th>Status</th><th>Runtimes</th><th>Scaling</th><th>Hosting</th><th>Infrastructures</th><th></th></tr>
			</thead>
			<tbody>
			<%
				rows.each do |profile| 
			%>
			<tr>
				<td>
					<a href="<%= profile["url"] %>" target="_blank"><%= profile["name"] %></a>
					<% if profile["vendor_verified"] %>
					&nbsp;<span class="icon-ok-sign" title="Vendor Profile"></span>
					<% end %>
				</td>
				<td>
					<% if profile["status"] == "beta" %>
					<span class="label label-warning">Beta</span>
					<% else %>
					<span class="label label-success">Production</span>
					<% end %>
				</td>

				<td>
					<div class="row-fluid">
					<% 
						profile["runtimes"].uniq { |h| h["language"] }.each do |rt|
					%>
						<span class="label label-info"><%= rt["language"] %></span>
					<% 
						end
						
						if profile["extendable"]
					%>
						<span class="label label-success">extendable</span>
					<% 	end  %>
					</div>
				</td>

				<td>
					<% if profile["scaling"]["vertical"] %>
					<span class="icon-resize-vertical" title="vertical"></span>
					<% end %>
					<% if profile["scaling"]["horizontal"] %>
					<span class="icon-resize-horizontal" title="horizontal"></span>
					<% end %>
					<% if profile["scaling"]["auto"] %>
					<span class="icon-refresh" title="auto"></span>
					<% end %>
				</td>
				
				<td>
					<% if profile["hosting"].include? "public" %>
					<span class="icon-eye-open" title="public"></span>
					<% end
						if profile["hosting"].include? "private"
					%>
					<span class="icon-lock" title="private"></span>
					<% end %>
				</td>

				<td>
					<div class="row-fluid">
					<% 
						profile["infrastructures"].uniq { |h| h["continent"] }.each do |rt|
						
						title = ""
						
						case rt["continent"]
							when "EU"
								title = "Europe"
							when "SA"
								title = "South America"
							when "NA"
								title = "North America"
							when "AS"
								title = "Asia"
							when "OC"
								title = "Oceania"
							else
								title = "Africa"
						end
					%>
						<span class="label label-inverse" title="<%= title %>"><%= rt["continent"] %></span>
					<% 
						end
					%>
					</div>
				</td>
				
				<td>
					<a href="/vendor/<%= profile["name"].downcase.gsub(/[\s\.]/,'_') %>" class="btn btn-success btn-small">Details</a>
				</td>
			</tr>
			</tbody>
			<% 	
				end
			%>
		</table>
		<% end %>