    <script src="http://code.highcharts.com/3.0/highcharts.js"></script>
    <script src="/js/themes/paasify.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<link rel="stylesheet" href="/css/theme.bootstrap.css">
	<style>
      /* Main marketing message and sign up button */
      .jumbotron {
	  /*height: 400px;*/
        margin: 50px 0;
        text-align: center;
		/*background: url("img/sub.png") no-repeat;*/
		background-size: 100%;
      }
      .jumbotron h1 {
        font-size: 60px;
        line-height: 1;
		background: rgba(255, 255, 255, 0.6);
      }
      .jumbotron .lead {
        font-size: 18px;
        line-height: 1.25;
		background: rgba(255, 255, 255, 0.6);
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
    </style>
	
	<div class="jumbotron">
		<h1>Platform as a Service Statistics</h1>
        <p class="lead text-info">Live statistics of the current PaaS vendor landscape<sup class="muted"><small><a href="#footnotes">1</a></small></sup>.</p>
	</div>

    <div id="languages" style="height: 350px;" class="text-center"></div>
    <div id="status" style="height: 350px;" class="text-center"></div>
    <div id="scaling_support" style="height: 350px;" class="text-center"></div>
    <div id="language_support" style="height: 350px;" class="text-center"></div>
    <div id="infra_support" style="height: 350px;" class="text-center"></div>
    <div id="middleware_support" style="height: 350px;" class="text-center"></div>
    <div id="service_support" style="height: 350px;" class="text-center"></div>
    <div id="addon_support" style="height: 350px;" class="text-center"></div>
	<div id="graph2" style="height: 350px;" class="text-center"></div>
    <div id="footnotes"><small><sup class="muted">1</sup> The data source is the most recent collection of <a href="https://github.com/stefan-kolb/paas-profiles/tree/master/profiles">PaaS profiles</a>.</small></div>
<script>
	$(document).ready(function() {
		$('ul.breadcrumb > li:first').wrapInner('<a href="/vendors" />');
		$('ul.breadcrumb > li:first').append('<span class="divider">/</span>');
		$('ul.breadcrumb > li:first').after('<li class="active">Statistics</li>');

        function setChart(name, categories, data, color) {
            chart.xAxis[0].setCategories(categories, false);
            chart.series[0].remove(false);
            chart.addSeries({
                name: name,
                data: data,
                color: color || 'white'
            }, false);
            chart.redraw();
        }

        var name = 'Language Support';
        var categories = <%= LanguageCharts.new.support_categories %>;
        var data = <%= Charts.new.support_columndata 'runtimes.language', false %>;

        var chart = $('#languages').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Runtime Languages'
            },
            subtitle: {
                text: 'Click the columns to view versions. Click again to view languages.'
            },
            xAxis: {
                categories: categories
            },
            yAxis: [{
                min: 0,
                max: <%= Charts.new.max_count %>,
                title: {
                    text: 'Support (%)'
                },
                plotLines: [{
                    color: '#3a87ad',
                    dashStyle: 'ShortDash',
                    width: 1,
                    value: 67,
                    zIndex: 0,
                    label: {
                        text: '100 %'
                    }
                }]
            },
                {
                    title: {
                        text: 'Support (%)'
                    },
                    labels:{
                        formatter:function(){
                            var max=67,
                                min=0,
                                    range=max-min;
                            return ((this.value-min)/(range)*100).toFixed(1) + ' %';
                        }
                    },
                    linkedTo:0,
                    opposite:true
                }
            ],
            tooltip: {
                formatter: function() {
                    var point = this.point,
                            s = this.x +':<b>'+ this.y +'% market share</b><br/>';
                    if (point.drilldown) {
                        s += 'Click to view '+ point.category +' versions';
                    } else {
                        s += 'Click to return to languages';
                    }
                    return s;
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0,
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                var drilldown = this.drilldown;
                                if (drilldown) { // drill down
                                    setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                                } else { // restore
                                    setChart(name, categories, data);
                                }
                            }
                        }
                    }
                }
            },
            series: [{
                name: name,
                data: data
            }]
        }).highcharts();

        $('#status').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Status',
                align: 'center',
                verticalAlign: 'middle',
                y: 0
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b> ({point.y} Total)',
                useHTML: true
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
                    }
                }
            },
            series: [{
                name: 'Supported by',
                innerSize: '60%',
                data: <%= Charts.new.support_piedata 'status', false %>
            }]
        });

        $('#scaling_support').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Scaling',
                align: 'center',
                verticalAlign: 'middle',
                y: 0
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                }
            },
            series: [{
                name: 'Supported by',
                innerSize: '40%',
                stacking: 'percentage',
                data: <%= ScalingCharts.new.vertical_piedata %>
            },
            {
                name: 'Supported by',
                innerSize: '60%',
                stacking: 'percentage',
                data: <%= ScalingCharts.new.horizontal_piedata %>
            },
            {
                name: 'Supported by',
                innerSize: '80%',
                stacking: 'percentage',
                data: <%= ScalingCharts.new.auto_piedata %>
            }
            ]
        });

        $('#language_support').highcharts({
			chart: {
                type: 'pie'
			},
			title: {
				text: 'Runtime<br>Languages',
				align: 'center',
				verticalAlign: 'middle',
				y: -10
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
			},
			plotOptions: {
				pie: {
					dataLabels: {
						enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
					}				
				}
			},
			series: [{
				name: 'Supported by',
				innerSize: '60%',
				data: <%= Charts.new.support_piedata 'runtimes.language' %>
			}]
		});

        $('#middleware_support').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Middleware<br>Products',
                align: 'center',
                verticalAlign: 'middle',
                y: -10
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
                    }
                }
            },
            series: [{
                name: 'Supported by',
                innerSize: '60%',
                data: <%= Charts.new.support_piedata 'middleware.name', 0.02 %>
            }]
        });

        $('#service_support').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Native<br>Services',
                align: 'center',
                verticalAlign: 'middle',
                y: -10
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
                    }
                }
            },
            series: [{
                name: 'Supported by',
                innerSize: '60%',
                data: <%= Charts.new.support_piedata 'services.native.name', 0.01 %>
            }]
        });

        $('#addon_support').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Add-ons',
                align: 'center',
                verticalAlign: 'middle',
                y: -10
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
                    }
                }
            },
            series: [{
                name: 'Supported by',
                innerSize: '60%',
                data: <%= Charts.new.support_piedata 'services.addon.name', 0.01 %>
            }]
        });

        $('#infra_support').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Infrastructures',
                align: 'center',
                verticalAlign: 'middle',
                y: 10
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
                    }
                }
            },
            series: [{
                name: 'Supported by',
                innerSize: '60%',
                data: <%= InfrastructureCharts.new.support_piedata %>
            }]
        });
		
		$('#graph2').highcharts({
			title: {
				text: 'Language Trend',
				x: -20 //center
			},
			subtitle: {
				text: 'Language support over time',
				x: -20
			},
			xAxis: {
				categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
					'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
			},
			yAxis: {
				title: {
					text: 'Support Percentage (%)'
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0
			},
			series: [{
				name: 'Java',
				data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
			}, {
				name: 'Ruby',
				data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
			}, {
				name: 'Python',
				data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
			}, {
				name: 'Node',
				data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
			}]
		});
	});
</script>