<div id="infrastructure-<%=infrastructure.id%>" name="infrastructure" class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <div class="input-append">
    <select id="continent-infrastructure-<%=infrastructure.id%>" class="selectpicker show-tick span1" data-width="85px" title="Select...">
        <option data-hidden="true"></option>
        <option title="AF" value="AF">Africa</option>
        <option title="AS" value="AS">Asia</option>
        <option title="EU" value="EU">Europe</option>
        <option title="NA" value="NA">North America</option>
        <option title="OC" value="OC">Oceania</option>
        <option title="SA" value="SA">South America</option>    
    </select>
    <input id="country-infrastructure-<%=infrastructure.id%>" type="text" style="width:71px" placeholder="Country">
    <input id="provider-infrastructure-<%=infrastructure.id%>" type="text" class="span2" placeholder="External IaaS provider">
    <input id="region-infrastructure-<%=infrastructure.id%>" type="text" class="span2" placeholder="Region or city">
    <button id="delete-infrastructure-<%=infrastructure.id%>" class="btn btn-danger" type="button">Delete</button>
    </div>
  </div>
</div>
<script>
  $(function() {
    $('#continent-infrastructure-<%=infrastructure.id%>').val('<%= infrastructure.continent %>');
    $('#country-infrastructure-<%=infrastructure.id%>').val('<%= infrastructure.country %>');
    $('#provider-infrastructure-<%=infrastructure.id%>').val('<%= infrastructure.provider %>');
    $('#region-infrastructure-<%=infrastructure.id%>').val('<%= infrastructure.region %>'); 
    
    $('#delete-infrastructure-<%=infrastructure.id%>').click(function() {
      if (confirm('Do you want to delete this infrastructure?')) {
        $('#infrastructure-<%=infrastructure.id%>').remove();
      } else {
        return false;
      }
    });

  });
</script>