<div id="middleware-<%=middleware.id%>" name="middleware" class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <div class="input-append">
      <input id="name-middleware-<%=middleware.id%>" type="text" class="span2">
      <select id="runtime-middleware-<%=middleware.id%>" class="selectpicker show-tick span2" title="select">
        <option data-hidden="true"></option>
        <option value="apex">apex</option>
        <option value="clojure">clojure</option>
        <option value="cobol">cobol</option>
        <option value="dotnet">dotnet</option>
        <option value="erlang">erlang</option>
        <option value="go">go</option>
        <option value="groovy">groovy</option>
        <option value="haskell">haskell</option>
        <option value="java">java</option>
        <option value="lua">lua</option>     
        <option value="node">node</option>
        <option value="perl">perl</option>      
        <option value="php">php</option>      
        <option value="python">python</option>       
        <option value="ruby">ruby</option>      
        <option value="scala">scala</option>      
      </select>
      <input id="versions-middleware-<%=middleware.id%>" type="text" class="span2" placeholder="Middleware versions...">
      <button id="delete-middleware-<%=middleware.id%>" class="btn btn-danger" type="button">Delete</button>
    </div>
  </div>
</div>
<script>
  $(function() {
    $('#name-middleware-<%=middleware.id%>').val('<%= middleware.name %>');
    $('#runtime-middleware-<%= middleware.id %>').val('<%= middleware.runtime %>');
    $('#versions-middleware-<%=middleware.id%>').val( stringifyArray(<%= middleware.versions %>) );
    
    $('#delete-middleware-<%=middleware.id%>').click(function() {
      if (confirm('Do you want to delete this middleware?')) {
        $('#<%=middleware.id%>').remove();
      } else {
        return false;
      }
    });
    
  });
</script>