<div class="span12">
  <h2><span class="text-info">Overall</span></h2>
  In total, <span class="label label-inverse"><%= @chart.total_vendors %></span> vendor profiles are available at the
  moment.
  The following graph shows the profile trend split into <i>overall</i>, <i>active</i> and <i>discontinued</i> vendors.
</div>
<div id="overtime" style="height: 350px;" class="span12 chart text-center"></div>
<div class="span12">
  <h2><span class="text-info">Participation</span></h2>
  All profiles are open for community validation. Currently,
  <span class="label label-inverse"><%= @chart.verified_count %></span> profiles were additionally verified by vendor
  participation.
  Verified over time. how many commits forks stars seitenaufrufe?
</div>
<div id="status" style="height: 350px;" class="span12 chart text-center"></div>
<div class="span12">
  <h2><span class="text-info">Updates</span></h2>
  The last profile update was <i>3 hours ago</i>.
  Oldest profile. Update intervall. Updates per profile.
  Count commits on profiles.
</div>
<div class="span12">
  <h2><span class="text-info">Quality</span></h2>
  <strong>missing values, values over time</strong>
</div>

<script>
    $(document).ready(function () {
        $('#overtime').highcharts({
            title: {
                text: 'Profile Trend'
            },
            subtitle: {
                text: 'Language support over time'
            },
            xAxis: {
                type: 'datetime'

            },
            yAxis: {
                title: {
                    text: 'Support'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
                {
                    name: "Overall",
                    data: <%= @chart.overtime_all %>
                },
                {
                    name: "Active",
                    data: <%= @chart.overtime_a %>
                },
                {
                    name: "EOL",
                    data: <%= @chart.overtime_e %>
                }
            ]
        });

        $('#status').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Verification',
                align: 'center',
                verticalAlign: 'middle',
                y: 0
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b> ({point.y} Total)',
                useHTML: true
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
                    }
                }
            },
            series: [
                {
                    name: 'Supported by',
                    innerSize: '60%',
                    data: <%= @chart.verification_chart 'pie' %>
                }
            ]
        });
    });
</script>