<link href="../css/jquery-jvectormap-1.2.2.css" rel="stylesheet">

<div class="span12">
  <h3><span class="text-info">Overall</span></h3>

  <div class="row">
    <p class="span12">
      The mean number of available infrastructure options in public offerings is
      <span class="label label-inverse"><%= @chart.mean_count %></span>.
    </p>
    <table class="table table-bordered table-condensed span12">
      <tr>
        <th>mean</th>
        <th>median</th>
        <th>mode</th>
        <th>variance</th>
        <th>sd</th>
        <th>min</th>
        <th>max</th>
      </tr>
      <tr>
        <td><%= @chart.mean_count %></td>
        <td><%= @chart.median_count %></td>
        <td><%= @chart.mode_count.join(',') %></td>
        <td><%= @chart.variance.round(1) %></td>
        <td><%= @chart.sd.round(1) %></td>
        <td><%= @chart.min %></td>
        <td><%= @chart.max %></td>
      </tr>
    </table>
    <div id="averages" style="height: 200px;" class="span12 chart hidden-phone"></div>
  </div>
  <p>
    A lot of PaaS providers use established IaaS offerings for their infrastructure management.
    At least
    <span class="label label-inverse"><%= (@chart.external_providers / @chart.vendor_count.to_f * 100).round(0) %>
      %</span> use external IaaS providers for their infrastructure management.<br>
    <a href="http://aws.amazon.com/" target="_blank">Amazon Web Services</a> is by far the most often used IaaS
    provider of PaaS vendors.
  </p>
</div>

<div class="span12">
  <h3><span class="text-info">Distribution and Density</span></h3>
  Below is a heat map of the world showing the geographical distribution and density of public PaaS infrastructures.
  The more saturated the orange countries are, the more offerings support an application deployment in that
  geographical region.
  The markers indicate data center locations that are specified more precisely.
</div>
<div id="map" style="height: 400px;" class="span12 chart"></div>
<div class="span12">
  <h3><span class="text-info">Continental Distribution</span></h3>

  <p>Infrastructure support on particular continents is different between PaaS.
    Below, the graph shows the percentage of infrastructure support on a particular continent by public PaaS.
    For example, deployment in <%= JSON.parse(@chart.top_continents)[0]['name'] %> is supported
    by <i><%= JSON.parse(@chart.top_continents)[0]['y'] %> %</i> of the vendors.</p>
</div>

<div id="continents" style="height: 250px;" class="span12 chart"></div>

<!-- TODO Unique possible locations on continent: ? -->

<div class="span12">
  <h3><span class="text-info">Country Distribution</span></h3>
  The Top 5 countries are:<br>
  <% @chart.top_countries.each_with_index do |c, i| %>
      <i class="fa fa-globe"></i>&nbsp;<span class="label label-info"><%= IsoCountryCodes.find(c[:name]).name %></span> (<%= c[:value] %> times)
  <% end %>
</div>

<script src="../js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../js/jquery-jvectormap-world-mill-en.js"></script>
<script>
    $(document).ready(function () {
        var continental_distribution = <%= @chart.top_continents %>;
        // heat map
        var data = <%= @chart.heatmap %>;
        <%
            markers = []

            Datacenter.all.each do |center|
                markers << { latLng: center.coordinates, name: "#{center}" }
            end

            # user location
            markers << { latLng: @user_location, name: "Yeah, that's you!", style: { fill: 'red' } } unless @user_location.nil?
        %>
        var markers = <%= markers.to_json %>;

        $('#map').vectorMap({
            map: 'world_mill_en',
            regionStyle: {
                initial: {
                    fill: '#0088cc'
                },
                hover: {
                    'fill-opacity': 0.6
                }
            },
            backgroundColor: '#ffffff',
            series: {
                regions: [
                    {
                        values: data,
                        scale: ['#fde9cd', '#f89406'],
                        normalizeFunction: 'polynomial'
                    }
                ]
            },
            onRegionLabelShow: function (e, el, code) {
                // the hovered region is not part of the regionResults, don't show the label
                if (!data.hasOwnProperty(code)) {
                    e.preventDefault();
                }
                el.html(el.html() + ' (' + data[code] + ' times)');
            },
            markerStyle: {
                initial: {
                    fill: '#ffffff',
                    stroke: '#000000'
                }
            },
            markers: markers
        });

        $('#averages').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Infrastructure Options Distribution'
            },
            xAxis: {

            },
            yAxis: {
                min: 0,
                tickInterval: 1,
                title: {
                    text: 'Count'
                }
            },
            tooltip: {
                enabled: false
            },
            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: false
                    }
                }
            },
            legend: {
                enabled: false
            },
            series: [
                {
                    data: <%= @chart.averages_data %>
                }
            ]
        });

        $('#continents').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Infrastructure Support by Continent'
            },
            xAxis: {
                categories: []
            },
            yAxis: [
                {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Support (%)'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + ' %';
                        }
                    }
                }
            ],
            tooltip: {
                formatter: function () {
                    var s = '<b>' + this.category + '</b>: Supported by <b>' + this.y + '%</b><br/>';
                    return s;
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0
                }
            },
            legend: {
                enabled: false
            },
            series: [
                {
                    data: continental_distribution,
                    color: '#f89406'
                }
            ]
        });
    });
</script>