<script src="http://code.highcharts.com/3.0/highcharts.js"></script>
<script src="/js/themes/paasify.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" href="/css/theme.bootstrap.css">
<style>
        /* Main marketing message and sign up button */
    .jumbotron {
        /*height: 400px;*/
        margin: 50px 0;
        text-align: center;
        background-size: 100%;
    }

    .jumbotron h1 {
        font-size: 60px;
        line-height: 1;
        background: rgba(255, 255, 255, 0.6);
    }

    .jumbotron .lead {
        font-size: 18px;
        line-height: 1.25;
        background: rgba(255, 255, 255, 0.6);
    }

    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

    .chart {
        padding-top: 50px;
        padding-bottom: 50px;
    }
</style>

<div class="jumbotron">
  <h1>Runtime Languages</h1>

  <p class="lead text-info">Live statistics of the PaaS vendor landscape<sup class="muted">
    <small><a href="#footnotes">1</a></small>
  </sup>.
  </p>
</div>

<div class="row">
  <div class="span12">
    <h3><span class="text-info">Language and Version Support</span></h3>
    Today's PaaS support a variety of different runtime languages as basis for customer applications.
    Currently, PaaS offerings officially support a total of
    <span class="label label-inverse"><%= @chart.language_count %></span>
    different languages.
    The <i>Top</i> 5 languages based on support percentage are
    <% @chart.support_categories.slice(0..4).each_with_index do |r, i| %>
        <span class="label" style="background-color: <%= Charts::COLORS[i] %>;"><%= r %></span>
    <% end %>.
    The following chart shows the support percentage of all available languages. A click on the language bars drills
    down on the different available language versions.
    Moreover,
    <span class="label label-inverse"><%= (@chart.extensible_count / @chart.vendor_count.to_f * 100).round %> %</span>
    of the vendors are
    <span class="label label-success">extensible</span> which means that more languages can be added via extensibility
    mechanisms like <a href="https://devcenter.heroku.com/articles/buildpack-api" target="_blank">buildpacks</a>.
  </div>
  <div id="languages" style="height: 350px;" class="span12 chart text-center"></div>
  <div class="span12">
    <div class="row">
      <div class="span5">
        <h3><span class="text-info">Language-specific vs Polyglot PaaS</span></h3>
        When PaaS first started, a lot of the offerings did only
        support one specific language. This has changed dramatically over time.
        Most of today's PaaS support way more than one language. While a specialization on one language (<i>Language-specific
        PaaS</i>) may result in better and more specialized support of that language,
        more languages (<i>Polyglot PaaS</i>) attract a greater customer mass and allow more flexibility for developing
        in different languages while sticking to one particular PaaS provider.
        The mean amount of supported languages is
        <i class="icon-arrow-up" title="<%= (@chart.mean_count - Statistics.last.mean_lang_count).round(1) %>"></i>
        <span class="label label-inverse" title="<%= @chart.mean_count %> (mean)&#013;<%= @chart.median_count %> (median)&#013;<%= @chart.mode_count %> (mode)"><%= @chart.mean_count %></span>.
        <!--TODO Trend icon and change! Other averages median, ... -->
      </div>
      <div id="polyglot" class="span7" style="height: 300px;"></div>
    </div>
    <div id="count" style="height: 250px;" class="span12 chart text-center"></div>
  </div>
  <div class="span12">
    <strong>Runtime Language Trend.</strong>
    The succeeding graph shows the runtime language trend over time.
  </div>
  <div id="overtime" style="height: 350px;" class="span12 chart text-center"></div>
</div>

<div id="footnotes" style="margin-top: 50px; border-top: 1px #eee solid;">
  <small><sup class="muted">1</sup> The data source is the most recent collection of
    <a href="https://github.com/stefan-kolb/paas-profiles/tree/master/profiles">PaaS profiles</a>.
  </small>
</div>

<script>
    $(document).ready(function () {
        function setChart(name, categories, data, color) {
            chart.xAxis[0].setCategories(categories, false);
            chart.series[0].remove(false);
            chart.addSeries({
                name: name,
                data: data,
                color: color || 'white'
            }, false);
            chart.redraw();
        }

        var name = 'Language Support';
        var categories = <%= @chart.support_categories false %>;
        var data = <%= @chart.support_columndata false %>;

        var chart = $('#languages').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Runtime Languages'
            },
            subtitle: {
                text: 'Click the columns to view versions. Click again to view languages.'
            },
            xAxis: {
                categories: categories
            },
            yAxis: [
                {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Support'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + ' %';
                        }
                    }
                },
                /*{
                 title: {
                 text: 'Count'
                 },
                 labels: {
                 formatter: function () {
                 // TODO redraw axis for drilldown!
                 max =<%= @chart.vendor_count %>,
                 min = 0,
                 range = max - min;
                 return (this.value * max / 100.0).toFixed(0);
                 }
                 },
                 linkedTo: 0,
                 opposite: true
                 }*/
            ],
            tooltip: {
                formatter: function () {
                    var point = this.point,
                            s = '<b>' + point.category + '</b>: Supported by <b>' + this.y + '%</b><br/>';
                    if (point.drilldown) {
                        s += 'Click to view ' + point.category + ' versions';
                    } else if (point.category != 'Others') {
                        s += 'Click to return to languages';
                    }
                    return s;
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0,
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                                var drilldown = this.drilldown;
                                if (drilldown) { // drill down
                                    // TODO axis must be redrawn too
                                    setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                                } else { // restore
                                    setChart(name, categories, data);
                                }
                            }
                        }
                    }
                }
            },
            series: [
                {
                    name: name,
                    data: data,
                    color: 'white'
                }
            ]
        }).highcharts();

        $('#polyglot').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Language<br>Count',
                align: 'center',
                verticalAlign: 'middle',
                y: 0
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b> ({point.y} Total)',
                useHTML: true
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: 15,
                        format: '<strong>{point.name}</strong>: <span class="text-info">{point.percentage:.1f} %</span>'
                    }
                }
            },
            series: [
                {
                    name: 'Supported by',
                    innerSize: '70%',
                    data: <%= @chart.count_piedata %>
                }
            ]
        });

        $('#count').highcharts({
            title: {
                text: 'Language-specific vs Polyglot Trend'
            },
            subtitle: {
                text: 'Runtime support over time'
            },
            xAxis: {
                categories: <%= @chart.trend_categories %>
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                min: 0
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }//,
                    //enableMouseTracking: false
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: <%= @chart.get_count_trend %>
        });

        $('#overtime').highcharts({
            title: {
                text: 'Language Trend'
            },
            subtitle: {
                text: 'Language support over time'
            },
            xAxis: {
                categories: <%= @chart.trend_categories %>
            },
            yAxis: {
                title: {
                    text: 'Support'
                },
                min: 0
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y} Total)'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: <%= @chart.get_trend %>
        });

    });
</script>