<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Platform as a Service Provider Comparison">
  <meta name="keywords" content="PaaS, Comparison, Matching, Cloud, Platform as a Service, Cloud Computing">
  <meta name="author" content="Stefan Kolb">
  <link href="<%= url('/css/paasify.css') %>" rel="stylesheet">
  <link href="<%= url('/css/bootstrap.min.css') %>" rel="stylesheet">
  <link href="<%= url('/css/bootstrap-responsive.min.css') %>" rel="stylesheet">
  <link href="<%= url('/css/nprogress.css') %>" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="icon" href="<%= url('/favicon.png') %>" type="image/png">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- jQuery fallback if CDN is blocked or fails -->
  <script>window.jQuery || document.write('<script src="<%= url('/js/jquery.min.js') %>"><\/script>')</script>
  <script src="<%= url('/js/bootstrap.min.js') %>"></script>
  <script src="<%= url('/js/nprogress.js') %>"></script>
  <script src="//code.highcharts.com/4.0/highcharts.js"></script>
  <!-- Highcharts fallback if CDN is blocked or fails -->
  <script>window.Highcharts || document.write('<script src="<%= url('/js/highcharts.min.js') %>"><\/script>')</script>
  <script src="<%= url('/js/themes/paasify.js') %>"></script>
  <!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
  <meta name="google-site-verification" content="12Jp2zgG22qEIqVIGwkWsk09bzLfaTtVdZ4IuaBmEjQ" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64667246-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
<div style="background-color: #f5f5f5">
  <div class="container">
    <%= render_navigation(renderer: :breadcrumbs) %>
  </div>
</div>

<%= yield %>

<footer id="footer" style="background-color: #f5f5f5; padding: 25px 0px 80px;">
  <div class="container">
    <ul style="list-style: none; margin: 0px;">
      <li style="display: inline-block;">
        <p><small><em>&copy; 2013 - 2016<br>
        Brewed in <i class="fa fa-university" title="University"></i> of Bamberg.<br>
        Made by <a href="https://twitter.com/stfnklb" target="_blank">@stfnklb</a> with help from the <a href="https://github.com/stefan-kolb/paas-profiles/graphs/contributors" target="_blank">contributors</a>.</em></small>
        </p>
      </li>
      <li style="display: inline-block;" class="pull-right hidden-phone">
        <a class="tip_bottom" href="https://github.com/stefan-kolb/paas-profiles" data-toggle="tooltip" title="Contribute on Github" target="_blank" style="text-decoration: none; padding: 5px;">
          <img src="<%= url('/img/github.png') %>" alt="github" style="width: 25px;">
        </a>
        <a class="tip_bottom" href="mailto:stefan.kolb@uni-bamberg.de" data-toggle="tooltip" title="Connect via mail" target="_blank" style="text-decoration: none; padding: 5px;">
          <img src="<%= url('/img/email.png') %>" alt="mail" style="width: 25px;">
        </a>
        <a class="tip_bottom" href="https://twitter.com/stfnklb" data-toggle="tooltip" title="Follow on Twitter" target="_blank" style="text-decoration: none; padding: 5px;">
          <img src="<%= url('/img/twitter.png') %>" alt="twitter" style="width: 25px;">
        </a>
      </li>
    </ul>
  </div>
</footer>
<script>
    $(document).ready(function () {
        // progress bar
        NProgress.start();
        // tooltips
        $('.tip').tooltip({ placement: 'top' });
        $('.tip_bottom').tooltip({ placement: 'bottom' });
    });

    $(window).load(function () {
        // progress bar
        NProgress.done();
    });
</script>
</body>
</html>